ion-content {
    --background:#FFEBEE;
    --color:#74164F;
}
ion-card {
    --background:#ffffff;
}
ion-card-title, ion-card-subtitle {
    position: relative;
    left: 15px;
    --color:#74164F;
    --background:#ffffff;

}
ion-card-subtitle {
    --color:#1565C0;
    color:#1565C0;
}
.moro  {
    position: absolute;
    right: 15px;
    top:0;
    --color:#74164F;
    --background:#ffffff;
    font-size:36px;
    &.mui {
        top:unset;
        bottom:0;
        font-size: unset;
        z-index:0;
    }
}
// .mui {
//     top:unset;
//     bottom:0;
// }
ion-card-content, ion-card-header {
    --background:#ffffff;
    --color:#74164F;
    color:#74164F;
}

.plus, .minus {
    color:#74164F;
    --color:#74164F;
    background:#FCE4EC;
    --background:#FCE4EC;
    padding:1px;
    border-radius:4px;
}

.kaikki {
    height:auto;
    overflow:auto;
    padding:10px 0;
    line-height: 50px;
}
.osa {
    margin: 5px;
    float:left;
}
.maara_input {
    width:30px;
    height:50px;
}
.koriin {
    --background:#74164F;
    text-transform: none;
    font-size:16px;
    font-weight: bold;
}

ion-content {
    --background:#FFEBEE;
}
ion-list {
    --ion-background-color:#FFEBEE;
    --ion-background:#FFEBEE;
    --background-color:#FFEBEE;
    background-color:#FFEBEE;
    --background:#FFEBEE;
    background:#FFEBEE;
}
ion-item:not(.moro):not(.mui) {
    --background:#FFFFFF;
    margin-bottom: 10px;
    --padding-start:0px !important;
    padding-left: 0!important;
    height: 70px;
    // max-width: 350px;
}
ion-avatar {
    --border-radius:0;
}

.list-md.list-inset ion-item:first-child {
    --border-width:0px!important;
}

.listan_tuote, .listan_tuottaja {
    height: 70px;
    width: 100%;
}
.listan_tuottaja {
    background-image: url(../../../assets/icon/Icon_Nuoli.png);
    background-position: center right;
    background-repeat: no-repeat;
}
.tuotekuva, .tuottajakuva {
    height: 100%;
    width: 70px;
    float: left;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.tuotetiedot, .tuottajatiedot {
    height: 100%;
    width: auto;
    float: left;
    margin-left: 10px;
    position: absolute;
    left: 65px;
    overflow: hidden;
}
.tuottajanimi {
    color:#81C784;
    --color:#81C784;
    font-size:12px;
    line-height: 20px;
    margin:0;
}
.tuotenimi, .tuottajannimi {
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    margin:0;
}
.tuotetagit, .tuotemaara, .tuottajapaikka {
    font-size: 12px;
    line-height: 20px;
    margin:0;
}
.tuotenimi, .tuotetagit, .tuotehinta, .tuottajannimi, .tuotemaara, .tuottajapaikka {
    color:#74164F;
    --color:#74164F;
}
.tuotehinta p {
    font-size: 12px;
    // line-height: 20px;
}
.tuotehinta {
    // height: 90%;
    width: auto;
    // float: right;
    position: absolute;
    right: 10px;
    bottom:0;
    // line-height: 70px;
    text-align: right;
}

.kategoriat {
    width: 99%;
    max-width: 500px;
    height: 140px;
    margin:0 auto;
    // overflow-x: scroll;
    white-space:nowrap;
    overflow:auto;
}
.kategoriat img {
    margin:0 18px;
    display:inline-block;
}


.tuottajatuotteet {
    --ion-background-color:#FFEBEE;
    --ion-background:#FFEBEE;
    --background-color:#FFEBEE;
    background-color:#FFEBEE;
    --background:#FFEBEE;
    background:#FFEBEE;
}

.inactive {
    opacity: 0.5;
}

.notOnSale {
    margin-top:35px;
}

h3.alaotsikko {
    font-family: "Labours Regular";
    font-size: 16px;
    line-height: 23px;
    color: #74164F;
}