<!-- <ion-header>
  <ion-toolbar> -->
<!-- <ion-title>Page Title</ion-title> -->
<!-- <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons> -->
<!-- </ion-toolbar>
</ion-header> -->

<ion-content *ngIf="producer">
  <ion-card>
    <ion-slides pager>
      <ion-slide>
        <div id="testi">
          <img *ngIf="producer.profile_image" [src]="producer.profilePictureUrl" />
          <img *ngIf="!producer.profile_image" src="../assets/icon/placeholder2_lg.jpg">
        </div>
      </ion-slide>
      <ion-slide *ngIf="producer.lat != null && producer.lon != null">
        <app-map style="height:100%;width:100%;" [markers]="markers"></app-map>
      </ion-slide>
    </ion-slides>
    

    <ion-card-header>
      <ion-card-title>{{ producer.name }}</ion-card-title>
      <div *ngIf="producer.product">
        <ion-item lines="none" class="moro">{{ info.productCount }}</ion-item>
        <ion-item lines="none" class="moro mui" *ngIf="info.productCount == 1">tuote</ion-item>
        <ion-item lines="none" class="moro mui" *ngIf="info.productCount > 1 || info.productCount == 0">tuotetta</ion-item>
      </div>
      <ion-card-subtitle>{{ producer.address }} <br> {{ producer.postal_code + ' ' + producer.city }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content >
      {{ producer.description || 'Tuottajan kuvausteksti puuttuu.' }}
      <br>
      <br>
      <a *ngIf="producer.facebook" href="{{ producer.facebook }}">
        <ion-icon name="logo-facebook"></ion-icon>
      </a>
      &nbsp;
      <a *ngIf="producer.instagram" href="{{ producer.instagram }}">
        <ion-icon name="logo-instagram"></ion-icon>
      </a>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="info.productsOnSale.length > 0 || info.productsComingToSale.length > 0">
    <ion-card-content class="tuottajatuotteet">
      <h2 class="sivuotsikko">TUOTTAJAN TUOTTEET</h2>
      <div *ngIf="info.productsOnSale.length > 0">
        <h3 class="alaotsikko">Nyt myynnissä</h3>
        <ion-list inset="true" lines="none">
          <ion-item *ngFor="let z of info.productsOnSale;let o=index" class="active" [routerLink]="['/product', z.batch[0].id]">
            <div class="listan_tuote">
        
              <div class="tuotekuva" *ngIf="z.profile_image"
                [style]="'background-image: url(' + z.profilePictureUrl + ');'"></div>
              <div class="tuotekuva" *ngIf="!z.profile_image"
                style="background-image: url(../assets/icon/placeholder.jpg);"></div>
        
              <div class="tuotetiedot">
                <h2 class="tuotenimi">{{ z.name }}</h2>
                <p class="tuotetagit">{{ z.category.name }}, {{ z.subcategory.name }} </p>
              </div>
              <div class="tuotehinta" >
                <p>{{ z.batch[0].price }}€ / {{ z.unit }}</p>
              </div>

            </div>
          </ion-item>
        </ion-list>
      </div>
      <div *ngIf="info.productsComingToSale.length > 0" class="notOnSale">
        <h3 class="alaotsikko">Tulossa myyntiin</h3>
        <ion-list inset="true" lines="none">
          <ion-item *ngFor="let x of info.productsComingToSale;let o=index" class="inactive">
            <div class="listan_tuote">
      
              <div class="tuotekuva" *ngIf="x.profile_image"
                [style]="'background-image: url('  + x.profilePictureUrl + ');'"></div>
              <div class="tuotekuva" *ngIf="!x.profile_image" style="background-image: url(../assets/icon/placeholder.jpg);">
              </div>
      
              <div class="tuotetiedot">
                <h2 class="tuotenimi">{{ x.name }}</h2>
                <p class="tuotetagit">{{ x.category.name }}, {{ x.subcategory.name }} </p>
              </div>
              <div class="tuotehinta">
                <p>Saatavilla vk{{ x.startDate }}</p>
              </div>
      
            </div>
          </ion-item>
        </ion-list>
      </div>
    </ion-card-content>
  </ion-card>
  <app-explore-container name="Producer page"></app-explore-container>
</ion-content>