<ion-header>
  <ion-toolbar>
    <ion-title style="margin-left: 40px;">Elements</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <app-explore-container></app-explore-container>

  <div style="margin:30px 0">
    <button class="classic_button">SEURAAVA</button>
    <input type="text" class="classic_input" placeholder="PUHELINNUMERO">
    <button class="classic_outline_button">KIRJAUDU SISÄÄN</button>
    <button class="classic_red_button">REKISTERÖIDY</button>
    <button class="classic_cancel_button"></button>
  </div>
  
  <div hidden>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>
  </div>

  <div style="margin-top:30px;">
    <h2 class="sivuotsikko">Tuotekategoriat</h2>
    <div class="kategoriat">
      <img src="../assets/icon/categs/Kategoria_Juomat ja hillot.jpg" alt="">
      <img src="../assets/icon/categs/Kategoria_Leivät ja leivonnaiset.jpg" alt="">
      <img src="../assets/icon/categs/Kategoria_Liha.jpg" alt="">
      <img src="../assets/icon/categs/Kategoria_Maito ja juusto.jpg" alt="">
      <img src="../assets/icon/categs/Kategoria_Marjat ja sienet.jpg" alt="">
      <img src="../assets/icon/categs/Kategoria_Vihannekset ja hedelmät.jpg" alt="">
    </div>
  </div>

  <div>
    <ion-list inset="true" lines="none">

      <!-- <ion-list-header>
        Tuotteet
      </ion-list-header> -->
    
      <!-- <ion-item lines="none">
        <ion-thumbnail slot="start">
          <ion-img src="../assets/icon/placeholder.jpg"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h3>Tuottaja</h3>
          <h2>Tuote</h2>
          <p>Kategoria, alennuksessa?</p>
        </ion-label>
        <ion-label slot="end">
          <p>Hinta €/yksikköä</p>
        </ion-label>
      </ion-item> -->
    
      <ion-item>

        <div class="listan_tuote">
          
          <div class="tuotekuva" style="background-image: url(../assets/icon/placeholder.jpg);"></div>

          <div class="tuotetiedot">
            <h3 class="tuottajanimi">Tuottaja</h3>
            <h2 class="tuotenimi">Tuote</h2>
            <p class="tuotetagit">tagi 1, tagi 2</p>
          </div>

          <div class="tuotehinta">
            <p>Hinta 47€ / yksikkö</p>
          </div>

        </div>

      </ion-item>

      <ion-item>
      
        <div class="listan_tuottaja">
      
          <div class="tuottajakuva" style="background-image: url(../assets/icon/placeholder2.jpg);"></div>
      
          <div class="tuottajatiedot">
            <h3 class="tuottajannimi">Tuottajan nimi</h3>
            <h2 class="tuotemaara">x tuotetta palvelussa</h2>
            <p class="tuottajapaikka">Paikkakunta</p>
          </div>
      
        </div>
      
      </ion-item>

    </ion-list>
  </div>


  
</ion-content>
