ion-content {
    --background:#FFEBEE;
}
ion-list {
    --ion-background-color:#FFEBEE;
    --ion-background:#FFEBEE;
    --background-color:#FFEBEE;
    background-color:#FFEBEE;
    --background:#FFEBEE;
    background:#FFEBEE;
}
ion-item {
    --background:#FFFFFF;
    margin-bottom: 10px;
    --padding-start:0px !important;
    padding-left: 0!important;
    height: 70px;
    max-width: 350px;
}
ion-avatar {
    --border-radius:0;
}

.list-md.list-inset ion-item:first-child {
    --border-width:0px!important;
}

.listan_tuote, .listan_tuottaja {
    height: 70px;
    width: 100%;
}
.listan_tuottaja {
    background-image: url(../../assets/icon/Icon_Nuoli.png);
    background-position: center right;
    background-repeat: no-repeat;
}
.tuotekuva, .tuottajakuva {
    height: 100%;
    width: 70px;
    float: left;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.tuotetiedot, .tuottajatiedot {
    height: 100%;
    width: auto;
    float: left;
    margin-left: 10px;
}
.tuottajanimi {
    color:#81C784;
    --color:#81C784;
    font-size:12px;
    line-height: 20px;
    margin:0;
}
.tuotenimi, .tuottajannimi {
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    margin:0;
}
.tuotetagit, .tuotemaara, .tuottajapaikka {
    font-size: 12px;
    line-height: 20px;
    margin:0;
}
.tuotenimi, .tuotetagit, .tuotehinta, .tuottajannimi, .tuotemaara, .tuottajapaikka {
    color:#74164F;
    --color:#74164F;
}
.tuotehinta p {
    font-size: 12px;
}
.tuotehinta {
    height: 100%;
    width: 115px;
    float: right;
    line-height: 70px;
}

.kategoriat {
    width: 80%;
    max-width: 500px;
    height: 114px;
    margin:0 auto;
    overflow-x: scroll;
    white-space:nowrap;
}
.kategoriat img {
    margin:0 18px;
    display:inline-block;
}