#container {
  position: absolute;
  right: 18px;
  top: 18px;
  z-index:420;
}
.classic_cancel_button {
  z-index:422;
}
ion-back-button {
  position: absolute;
  top: 0;
  left: 0;
  height: 48px;
  width: 48px;
  opacity:0;
}