<!-- <ion-header>
  <ion-toolbar>
    <ion-title>confirm new password</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-grid style="height:100%;" class="ion-justify-content-center ion-align-items-center ion-justify-content-between	">

    <ion-row class="ion-justify-content-center">
      <ion-col>
        <div class="ion-text-center">
          <h5>VAHVISTA</h5>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col>
        <div class="ion-text-center">
          <p>Vahvista tilisi syöttämällä<br>
            tekstiviestillä saamasi koodi.<br><br>
            Syötä myös uusi salasana</p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col>
        <div class="ion-text-center">
          <input type="text" class="classic_input" placeholder="SYÖTÄ KOODI">
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col>
        <div class="ion-text-center">
          <input type="password" class="classic_input" placeholder="UUSI SALASANA">
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col>
        <div class="ion-text-center">
          <input type="password" class="classic_input" placeholder="SALASANA UUDESTAAN">
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col>
        <div class="ion-text-center">
          <a [routerLink]="['/']" routerDirection="forward" style="text-decoration: none;">
            <button class="classic_button">Seuraava</button>
          </a>
          </div>
      </ion-col>
    </ion-row>

  </ion-grid>
  <app-explore-container></app-explore-container>
</ion-content>