ion-content {
    --background:#FFEBEE;
}
p {
    color:#74164F;
}

// button.classic_button {
//     width: 150px;
//     height: 50px;
//     font-size: 18px;
// }
.save {
    background: #880E4F;
    color: #F8BBD0;
}