<ion-content [fullscreen]="true">
  <h2 class="sivuotsikko">VAIHDA SALASANA</h2>
  <ion-grid *ngIf="details">
    <form [formGroup]="form" (ngSubmit)="submit()">

      <ion-row class="ion-justify-content-center">
        <ion-col>
          <div class="ion-text-center">
            <ion-input class="classic_input" formControlName="old_password" placeholder="VANHA SALASANA" type="password"></ion-input>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col>
          <div class="ion-text-center">
            <ion-input class="classic_input" formControlName="new_password" placeholder="UUSI SALASANA" type="password"></ion-input>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col>
          <div class="ion-text-center">
            <ion-input class="classic_input" formControlName="new_password_c" placeholder="SALASANA UUDESTAAN" type="password"></ion-input>
          </div>
        </ion-col>
      </ion-row>
      

      <ion-row class="ion-justify-content-center" style="margin-top:5px;">
        <ion-col>
          <div class="ion-text-center">
            <button class="classic_button save">TALLENNA</button>
          </div>
        </ion-col>
      </ion-row>

    </form>
  </ion-grid>
  <app-explore-container name="User details page"></app-explore-container>
</ion-content>