ion-content {
    --background:#8D0A5A;
}
ion-item {
    --background:#8D0A5A;
}
input.classic_input {
    background:#880E4F;
    border-color:#F8BBD0;
    color:#F8BBD0;
    &::placeholder {
        color:#F8BBD0;
    }
}
input.classic_input {
    background:#880E4F;
    border-color:#F8BBD0;
    color:#F8BBD0;
    &::placeholder {
        color:#F8BBD0;
    }
}
h5 {
    font-family:'Labours Regular';
    color:#C2185B;
    font-size:22px;
    line-height: 43px;
}
p {
    font-size: 24px;
    line-height: 24px;;
    color:#FCE4EC;
}