<!-- <ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <app-explore-container></app-explore-container>
  <ion-grid style="height:100%;" class="ion-justify-content-center ion-align-items-center ion-justify-content-between	">

    <ion-row class="ion-justify-content-center">
      <ion-col>
        <div class="ion-text-center">
          <h5>REKISTERÖINTI</h5>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col>
        <div hidden class="ion-text-center">
            <p>Lähetimme sinulle tekstiviestin. Vahvista tilisi tekstiviestistä löytyvästä numerosarjasta.</p>
        </div>
      </ion-col>
    </ion-row>
    <form [formGroup]="verifyForm" >

      <ion-row class="ion-justify-content-center">
        <ion-col width-25>
            <ion-input #c1 type="tel" class="classic_input" formControlName="c1"></ion-input>
        </ion-col>
        <ion-col width-25>
            <ion-input #c2 type="tel" class="classic_input" formControlName="c2"></ion-input>
        </ion-col>
        <ion-col width-25>
            <ion-input #c3 type="tel" class="classic_input" formControlName="c3"></ion-input>
        </ion-col>
        <ion-col width-25>
            <ion-input #c4 type="tel" class="classic_input" formControlName="c4"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col>
          <div class="ion-text-center">
            <button type="submit" (click)="sendVerifyCode()" class="classic_button">Vahvista</button>
          </div>
        </ion-col>
      </ion-row>

    </form>


  </ion-grid>
</ion-content>