<ion-content [fullscreen]="true">
  <h2 class="sivuotsikko" *ngIf="categ">{{ categ.name }}</h2>
  <div *ngIf="categ" class="subcats">
    <span *ngFor="let sc of categ.subcategories;let i=index" class="{{ categ.name }} categoryspan" (click)="toggleClass($event, sc.name)">
      {{ sc.name }}
    </span>
  </div>
  <div>
    <ion-list inset="true" lines="none" *ngIf="categProducts">
      <ion-item *ngFor="let z of categProducts;let o=index" [routerLink]="['/product', z.id]">
        <!-- <a [routerLink]="['/product', z.id]" routerDirection="forward" style="text-decoration: none;"> -->
        <div class="listan_tuote">

          <div class="tuotekuva" *ngIf="z.product.profile_image"
            [style]="'background-image: url(' + z.product.profilePictureUrl + ');'"></div>
          <div class="tuotekuva" *ngIf="!z.product.profile_image"
            style="background-image: url(../assets/icon/placeholder.jpg);"></div>

          <div class="tuotetiedot">
            <h3 class="tuottajanimi">{{ z.product.producer[0].name }}</h3>
            <h2 class="tuotenimi">{{ z.product.name }}</h2>
            <p class="tuotetagit">{{ z.product.category.name }}, {{ z.product.subcategory.name }}</p>
          </div>

          <div class="tuotehinta">
            <p>
              <span class="bold" *ngIf="z.product.is_gluteine_free == 'kylla'">*G</span>
              <span class="bold" *ngIf="z.product.is_lactose_free == 'kylla'">*L</span>
            </p>
            <p>{{ z.price }}€ / {{ z.product.unit }}</p>
          </div>

        </div>
        <!-- </a> -->
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<app-explore-container name="Cart page"></app-explore-container>