ion-content {
    --background:#FFEBEE;
}
p {
    color:#74164F;
}

ion-list {
    --background:#FFEBEE;
    background:#FFEBEE;
    margin:15px 0;

}
ion-item, ion-card {
    --background:#ffffff;
    background:#ffffff;
    --color:#74164F;
    color:#74164F;
    text-transform: none;
    font-size:16px;
    font-weight: bold;
    text-align: center;
    --border-color:#74164F;
    border-color:#74164F;
    --padding-start:15px;
    --padding-end:15px;
    max-width: 500px;
    margin: 15px auto;
}
// ion-icon {
//     --color:#F44336;
//     color:#F44336;
// }
ion-card-subtitle {
    font-size:16px;
    // line-height: 43px;
    font-weight: bold;
}

ion-card-header, ion-card-content {
    // text-align:left;
    // --padding-start:80px;
    // padding-left:80px;
}

.tuote_ul {
    text-align: left;
    margin: 0 auto;
    width: max-content;
    list-style: circle;
}

.ready {
    --color:#74164F;
    color:#74164F;
}
.ready_icon {
    --color:#F44336;
    color:#F44336;
}
.not_ready {
    --color:#F8BBD0;
    color:#F8BBD0;
}
.light {
    font-weight: lighter;
}
.bold {
    font-weight: bold;
}

.itempin {
    width: 12px;
    height: 18px;
    text-align: center;
    line-height: 16px;
    font-size: 10px;
    font-weight: bold;
    color:#ffffff;
    position: absolute;
}

.oflow {
    overflow: auto;
}

.ordercontenttable, .orderdetailtable {
    width:100%;
}
.ordercontenttable th, .ordercontenttable td {
    padding:5px 0;
    border-bottom:1px solid #FFEBEE;
}
.ordercontenttable td {
    font-weight:100;
}
.orderdetailtable .first_td {
    padding-right: 5px;
    font-weight: bold;
}
.orderdetailtable .second_td {
    font-weight: 100;
}
ion-datetime {
    padding:0;
    display:inline-flex;
}