<ion-content [fullscreen]="true">

  <div style="text-align:center;">
    <h2 class="sivuotsikko">Tilauksen seuranta</h2>
  </div>

  <div *ngIf="details">
    <ion-card *ngFor="let z of orders;let o=index">
      <app-map [markers]="z.markers"></app-map>

      <!-- <ion-card-header *ngIf="z.status == 'Tilaus pakattu ja valmis noudettavaksi'; else elseBlock" style="text-align: center;">
        <h1 class="bold">Tilaus #{{z.id + ' ' + z.first_name + ' ' + z.last_name }}</h1>
      </ion-card-header>
      <ng-template #elseBlock>
        <ion-card-header>
          Tilaus #{{z.id + ' ' + z.first_name + ' ' + z.last_name }}
        </ion-card-header>
      </ng-template> -->
      <!--  -->
      <!-- <ion-card-header>
        <ion-card-subtitle class="ready" style="text-align: center;">{{ z.status }}</ion-card-subtitle>
      </ion-card-header> -->


      <ion-card-content class="oflow" *ngIf="z.status != 'Tilaus pakattu ja valmis noudettavaksi'">
        <table class="orderdetailtable">
          <tbody>
            <tr>
              <td class="ion-text-start first_td">
                Tilausnumero:
              </td>
              <td class="ion-text-start second_td">
                {{ z.id }}
              </td>
            </tr>
            <tr>
              <td class="ion-text-start first_td">
                Tilausaika:
              </td>
              <td class="ion-text-start second_td">
                <ion-datetime displayFormat="DD.MM.YY" value="{{ z.created_at }}" readonly></ion-datetime>
              </td>
            </tr>
            <tr>
              <td class="ion-text-start first_td">
                Toimitussijainti:
              </td>
              <td class="ion-text-start second_td">
                {{ z.delivery_place.name }}
              </td>
            </tr>
            <tr>
              <td class="ion-text-start first_td">
                Arvioitu toimituspäivä:
              </td>
              <td class="ion-text-start second_td">
                <ion-datetime displayFormat="DD.MM.YY" value="{{ z.delivery_date }}" readonly></ion-datetime>
              </td>
            </tr>
            <tr>
              <td class="ion-text-start first_td">
                Tuotteiden lukumäärä:
              </td>
              <td class="ion-text-start second_td">
                {{ z.total_quantity }}
              </td>
            </tr>
            <tr>
              <td class="ion-text-start first_td">
                Tilauksen yhteishinta:
              </td>
              <td class="ion-text-start second_td">
                {{ z.total_price }} €
              </td>
            </tr>
          </tbody>
        </table>

        <hr>

        <table class="ordercontenttable">
          <thead>
            <tr>
              <th class="ion-text-start">
                Tuote
              </th>
              <th class="ion-text-end">
                Tila
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let x of z.items;let i=index">
              <td class="ion-text-start">
                <strong>{{ x.producer.name }}</strong><br>
                {{ x.amount }} x {{ x.name }}
              </td>
              <td class="ion-text-end">
                <ion-icon name="checkmark-circle" style="color:green;" *ngIf="x.items_status == 'Toimitettu'"></ion-icon>
                <ion-icon name="close-circle" style="color:#C2185B;" *ngIf="x.items_status != 'Toimitettu'"></ion-icon>
                <br>
                <span *ngIf="x.items_status == 'Odottaa toimenpiteitä'">
                  Odottaa toimenpiteitä
                </span>
                <span *ngIf="x.items_status == 'Vastaanotettu'">
                  Tilaus vastaanotettu
                </span>
                <span *ngIf="x.items_status == 'Kerätty'">
                  Tilaus kerätty
                </span>
                <span *ngIf="x.items_status == 'Toimitettu'">
                  Toimitettu noutopisteelle
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </ion-card-content>

      <div *ngIf="z.status == 'Tilaus pakattu ja valmis noudettavaksi'">
        <h1 class="bold">Tilaus #{{z.id + ' ' + z.first_name + ' ' + z.last_name }}</h1>
        <h3 class="bold">Tilauksesi on valmis noudettavaksi</h3>
        <p class="light ready">
          <u>{{ z.delivery_place.name }}</u>
          <br>
          <a style="color:#C2185B;" href="https://www.google.com/maps/search/{{z.delivery_place.address}},+{{z.delivery_place.postal_code}}+{{z.delivery_place.city}}/">
            <u>
              {{ z.delivery_place.address + ', ' + z.delivery_place.postal_code + ', ' + z.delivery_place.city }}
            </u>
          </a>
          <!-- Tilauksesi on nyt noudettavissa <br><b>{{ z.delivery_place.name }}</b><br> noutopisteestä. -->
          <!-- <b>
            <ion-datetime displayFormat="DD.MM.YY" value="{{ z.delivery_date }}" readonly></ion-datetime>
          </b> -->
          <br><br>
          Nouto-ohjeet:<br> {{ z.delivery_place.pickup_instructions }}<br><br>
          Säilytämme tilauksen tuotteita kaupassa max. 7 päivää.
        </p>
      </div>
      <!-- <div *ngIf="z.status != 'Tilaus pakattu ja valmis noudettavaksi'">
        <p class="light not_ready">
          Tilauksen toimitus kesken. <br> Tilauksen arvioitu toimituspäivä 
          <b>
            <ion-datetime displayFormat="DD.MM.YY" value="{{ z.delivery_date }}" readonly></ion-datetime>
          </b>
          Valittu noutopiste: <b>{{ z.delivery_place.name }}</b>
        </p>
      </div> -->
    </ion-card>
  </div>

  <div *ngIf="orders.length == 0">
    <div style="color:rebeccapurple;width:350px;margin:50px auto;text-align: center;">
      <p>Sinulla ei ole tilauksia seurattavana.</p>
    </div>
  </div>

  <app-explore-container name="Tab 6 page"></app-explore-container>
</ion-content>
