<ion-content [fullscreen]="true">

  <div style="text-align:center;">
    <h2 class="sivuotsikko">Tilauksen seuranta</h2>
  </div>

  <div *ngIf="details">
    <ion-card *ngFor="let z of orders;let o=index">
      <app-map [markers]="z.markers"></app-map>

      <ion-card-header>
        Tilaus #{{z.id}}
      </ion-card-header>
      <!--  -->
      <ion-card-header *ngIf="z.itemcount == z.vastaanotettu; else elseBlock">
        <ion-card-subtitle class="ready">Tilaus vastaanotettu</ion-card-subtitle>
      </ion-card-header>
      <ng-template #elseBlock>
        <ion-card-header>
          <ion-card-subtitle class="not_ready">Tilaus vastaanotettu</ion-card-subtitle>
        </ion-card-header>
      </ng-template>


      <ion-card-content class="oflow">
        <div *ngFor="let x of z.items;let i=index" style="float:left;height:20px;width:18px;">
          <!-- <ion-icon name="flag" class="ready_icon" *ngIf="x.items_status != 'Odottaa toimenpiteitä'"></ion-icon> -->
          <span class="pin itempin" *ngIf="x.items_status != 'Odottaa toimenpiteitä'">{{ x.number }}</span>
          <span class="pin_disabled itempin" *ngIf="x.items_status == 'Odottaa toimenpiteitä'">{{ x.number }}</span>
          <!-- <ion-icon name="flag-outline" class="not_ready" *ngIf="x.items_status == 'Odottaa toimenpiteitä'"></ion-icon> -->
        </div>
        <div style="float:left;margin-left: 30px;">
          {{z.vastaanotettu}}/{{z.itemcount}}
        </div>
      </ion-card-content>

      <!--  -->
      <ion-card-header *ngIf="z.itemcount == z.keratty; else elseBlockk">
        <ion-card-subtitle class="ready">Tilaus kerätty</ion-card-subtitle>
      </ion-card-header>
      <ng-template #elseBlockk>
        <ion-card-header>
          <ion-card-subtitle class="not_ready">Tilaus kerätty</ion-card-subtitle>
        </ion-card-header>
      </ng-template>

      <ion-card-content class="oflow">
        <div *ngFor="let xx of z.items;let i=index" style="float:left;height:20px;width:18px;">
          <!-- <ion-icon name="flag" class="ready_icon" *ngIf="xx.items_status == 'Kerätty' || xx.items_status == 'Toimitettu'"></ion-icon> -->
          <span class="pin itempin" *ngIf="xx.items_status == 'Kerätty' || xx.items_status == 'Toimitettu'">{{ xx.number }}</span>
          <span class="pin_disabled itempin" *ngIf="xx.items_status == 'Odottaa toimenpiteitä' || xx.items_status == 'Vastaanotettu'">{{ xx.number }}</span>
          <!-- <ion-icon name="flag-outline" class="not_ready" *ngIf="xx.items_status == 'Odottaa toimenpiteitä' || xx.items_status == 'Vastaanotettu'"></ion-icon> -->
        </div>
        <div style="float:left;margin-left: 30px;">
          {{z.keratty}}/{{z.itemcount}}
        </div>
      </ion-card-content>

      <!--  -->
      <ion-card-header *ngIf="z.itemcount == z.toimitettu; else elseBlockkk">
        <ion-card-subtitle class="ready">Tilaus toimitettu</ion-card-subtitle>
      </ion-card-header>
      <ng-template #elseBlockkk>
        <ion-card-header>
          <ion-card-subtitle class="not_ready">Tilaus toimitettu</ion-card-subtitle>
        </ion-card-header>
      </ng-template>
      
      <ion-card-content class="oflow">
        <div *ngFor="let xxx of z.items;let i=index" style="float:left;height:20px;width:18px;">
          <!-- <ion-icon name="flag" class="ready_icon" *ngIf="xxx.items_status == 'Toimitettu'"></ion-icon> -->
          <span class="pin itempin" *ngIf="xxx.items_status == 'Toimitettu'">{{ xxx.number }}</span>
          <span class="pin_disabled itempin" *ngIf="xxx.items_status != 'Toimitettu'">{{ xxx.number }}</span>
          <!-- <ion-icon name="flag-outline" class="not_ready" *ngIf="xxx.items_status != 'Toimitettu'"></ion-icon> -->
        </div>
        <div style="float:left;margin-left: 30px;">
          {{z.toimitettu}}/{{z.itemcount}}
        </div>
      </ion-card-content>

      <!--  -->
      <ion-card-header *ngIf="z.status == 'Tilaus pakattu ja valmis noudettavaksi'">
        <ion-card-subtitle class="ready">Tilaus noudettavissa</ion-card-subtitle>
      </ion-card-header>
      <ion-card-header *ngIf="z.status != 'Tilaus pakattu ja valmis noudettavaksi'">
        <ion-card-subtitle class="not_ready">Tilaus noudettavissa</ion-card-subtitle>
      </ion-card-header>

      <div *ngIf="z.status == 'Tilaus pakattu ja valmis noudettavaksi'">
        <p class="light ready">
          Tilaus noudettavissa <b>{{ z.delivery_place.name }}</b> noutopisteestä
          <b>
            <ion-datetime displayFormat="DD.MM.YY" value="{{ z.delivery_date }}" readonly></ion-datetime>
          </b>
          Nouto-ohjeet: {{ z.delivery_place.pickup_instructions }}<br><br>
          Säilytämme tilauksen tuotteita kaupassa max. 7 päivää.
        </p>
      </div>
      <div *ngIf="z.status != 'Tilaus pakattu ja valmis noudettavaksi'">
        <p class="light not_ready">
          Tilauksen toimitus kesken. Tilauksen arvioitu noutopäivä 
          <b>
            <ion-datetime displayFormat="DD.MM.YY" value="{{ z.delivery_date }}" readonly></ion-datetime>
          </b>
          &nbsp;<b>{{ z.delivery_place.name }}</b> noutopisteestä
        </p>
      </div>
    </ion-card>
  </div>

  <div *ngIf="orders.length == 0">
    <div style="color:rebeccapurple;width:350px;margin:50px auto;text-align: center;">
      <p>Sinulla ei ole tilauksia seurattavana.</p>
    </div>
  </div>

  <app-explore-container name="Tab 6 page"></app-explore-container>
</ion-content>
