<ion-content [fullscreen]="true">
  <h2 class="sivuotsikko">TUOTTAJAT</h2>

  <div class="srcbardiv">
    <ion-searchbar class="srcbar" (ionChange)="onSearchChange()" [(ngModel)]="hakusana" placeholder="Hae"></ion-searchbar>
  </div>

  <ion-list inset="true" lines="none">
    <ion-item *ngFor="let z of producerList;let o=index" [routerLink]="['/producer', z.id]">
      <div class="listan_tuottaja">
        <div class="tuottajakuva" *ngIf="z.profile_image" [style]="'background-image: url(' + z.profilePictureUrl + ');'"></div>
        <div class="tuottajakuva" *ngIf="!z.profile_image" style="background-image: url(../assets/icon/placeholder2.jpg);"></div>

        <div class="tuottajatiedot">
          <h3 class="tuottajannimi">{{ z.name }}</h3>
          <h2 class="tuotemaara" *ngIf="z.product.length == 1">{{ z.product.length }} tuote palvelussa</h2>
          <h2 class="tuotemaara" *ngIf="z.product.length > 1 || z.product.length == 0">{{ z.product.length }} tuotetta palvelussa</h2>


          <p class="tuottajapaikka">{{ z.city }}</p>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
