ion-content {
    --background:#FFEBEE;
}
p {
    color:#74164F;
}
ion-grid {
    margin-left: 20px;
    margin-right: 20px;
}
ion-row {
    margin-top: 20px;
}
ion-col {
    --background:#ffffff;
    background:#ffffff;
    border-radius: 5px;
}
.null {
    --background:#FFEBEE;
    background:#FFEBEE;
}
.details {
    padding-left:15px;
}
.bold {
    font-weight: bold;
    margin-bottom:0;
    font-size:0.9em;
}
.content {
    padding:30px 0;
}
.edit {
    text-align: right;
    color: #74164F;
}
.edit ion-icon {
    width: 20px;
    height: 20px;
}
.bottom {
    // position: absolute;
    bottom: 75px;
    text-align: center;
    width: 100%;
}
.notauth {
    text-align: center;
    margin: 30px 0;
}
.bottom a, .notauth a {
    color:#C2185B;
    text-decoration: underline;
}
.prple {
    color: #74164F;
    font-size:22px;
}