<ion-content [fullscreen]="true">
  <div *ngIf="isLogged && details">
    <ion-grid>
    <h2 class="sivuotsikko">OMAT TIEDOT</h2>
      <ion-row>
        <ion-col [routerLink]="['/user-edit']">
          <div class="details">
            <p>{{ details.first_name }}</p>
            <p>{{ details.last_name }}</p>
            <p>{{ details.address }}</p>
            <p>{{ details.postal_code }}</p>
            <p>{{ details.city }}</p>
          </div>
          <div class="edit">
              <!-- <ion-icon name="brush"></ion-icon> -->
              <ion-icon name="create"></ion-icon>
          </div>
        </ion-col>
        <!-- <ion-col class="null"> -->
        <ion-col class="ion-margin-start ion-text-center" [routerLink]="['/change-password']">
          <div style="position:absolute;width:70px;top:calc(50% - 32px);left:calc(50% - 35px);">
            <ion-icon name="medical" class="prple"></ion-icon>
            <ion-icon name="medical" class="prple"></ion-icon>
            <ion-icon name="medical" class="prple"></ion-icon>
            <p class="bold">
              Vaihda<br>salasana
            </p>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-text-center">
        <ion-col>
          <div class="content" [routerLink]="['/tab6']">
            <img src="../assets/icon/ic_content.png" alt="Tilauksen seuranta">
            <p class="bold">
              Tilauksen<br>seuranta
            </p>
          </div>
        </ion-col>
        <ion-col class="ion-margin-horizontal">
          <div class="content" [routerLink]="['/orders']">
            <img src="../assets/icon/ic_receipt.png" alt="Aiemmat tilaukset">
            <p class="bold">
              Aiemmat<br>tilaukset
            </p>
          </div>
        </ion-col>
        <ion-col>
          <div class="content" [routerLink]="['/threads']">
            <img src="../assets/icon/ic_messages.png" alt="Viestit">
            <p class="bold">
              Viestit
            </p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="bottom">
      <p>
        <a (click)="logout()">Kirjaudu ulos palvelusta</a>
      </p>
      <p [routerLink]="['/terms-of-service']">
        <a>Palvelukuvaus, käyttöehdot ja rekisteriseloste</a>
      </p>
    </div>
  </div>
  <!-- Ei kirjautunut -->
  <ion-grid *ngIf="isLogged == false" class="notauth">
    <ion-row>
      <ion-col>
        <p [routerLink]="['/welcome']">
          <a>Rekisteröidy / Kirjaudu sisään</a>
        </p>
        <p [routerLink]="['/terms-of-service']">
          <a>Palvelukuvaus, käyttöehdot ja rekisteriseloste</a>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
