ion-label {
    margin-top:8px;
    color:#880E4F;
    font-size: 1em;
}
ion-tab-button, ion-tab-bar {
    --background:#ffffff;
    --border: none;
}
ion-tab-bar {
    // box-shadow:0 -5px 10px 2px #000000;
    box-shadow: 0 21px 34px 0px #000000;
}

.tabicon {
    // margin: 5px;
    height:100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    max-width: 26px;
    max-height: 17px;
}
.tabicon.front {
    background-image: url(../../assets/icon/navbar/Ikoni_Etusivu.png);
}
.tabicon.favs {
    background-image: url(../../assets/icon/navbar/Icon_Heart.png);
}
.tabicon.products {
    background-image: url(../../assets/icon/navbar/Icon_Tuotteet.png);
}
.tabicon.producers {
    background-image: url(../../assets/icon/navbar/Icon_Tuottajat.png);
}
.tabicon.cart {
    background-image: url(../../assets/icon/navbar/Icon_Ostoskori.png);
}
.tabicon.user {
    background-image: url(../../assets/icon/navbar/Icon_User.png);
}

.tab-selected .tabicon.front {
    background-image: url(../../assets/icon/navbar/Ikoni_Etusivu_active.png);
}
.tab-selected .tabicon.favs {
    background-image: url(../../assets/icon/navbar/Icon_Heart_active.png);
}
.tab-selected .tabicon.products {
    background-image: url(../../assets/icon/navbar/Icon_Tuotteet_active.png);
}
.tab-selected .tabicon.producers {
    background-image: url(../../assets/icon/navbar/Icon_Tuottajat_active.png);
}
.tab-selected .tabicon.cart {
    background-image: url(../../assets/icon/navbar/Icon_Ostoskori_active.png);
}
.tab-selected .tabicon.user {
    background-image: url(../../assets/icon/navbar/Icon_User_active.png);
}

.incart_count {
    border-radius: 50%;
    background-color:#F44336;
    color:white;
    width: 15px;
    height: 15px;
    position: absolute;
    // right: 3px;
    right: calc(50% - 20px);
    top: 3px;
    line-height: 16px;
    font-size: 1.1em;
    font-weight: 600;
}
