<ion-tabs #tabs (ionTabsWillChange)="tabsGonnaChange(tabs)">

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="etusivu">
      <!-- <img src="../assets/icon/navbar/Ikoni_Etusivu.png" alt="Etusivu"> -->
      <div class="tabicon front"></div>
      <ion-label>Etusivu</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favorites" *ngIf="isLogged == true">
      <!-- <img src="../assets/icon/navbar/Icon_Heart.png" alt="Suosikit"> -->
      <div class="tabicon favs"></div>
      <ion-label>Suosikit</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="products">
      <!-- <img src="../assets/icon/navbar/Icon_Tuotteet.png" alt="Tuotteet"> -->
      <div class="tabicon products"></div>
      <ion-label>Tuotteet</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="producers">
      <!-- <img src="../assets/icon/navbar/Icon_Tuottajat.png" alt="Tuottajat"> -->
      <div class="tabicon producers"></div>
      <ion-label>Tuottajat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart" *ngIf="isLogged == true">
      <!-- <img src="../assets/icon/navbar/Icon_Ostoskori.png" alt="Ostoskori"> -->
      <div class="tabicon cart">
        <span class="incart_count" *ngIf="inCart && inCart > 0">
          {{ inCart }}
        </span>
      </div>
      <ion-label>Ostoskori</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="user">
      <!-- <img src="../assets/icon/navbar/Icon_User.png" alt="Minä"> -->
      <div class="tabicon user"></div>
      <ion-label>Minä</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
