<!-- <ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <app-explore-container></app-explore-container>
  <ion-grid style="height:100%;" class="ion-justify-content-center ion-align-items-center ion-justify-content-between	">

    <ion-row class="ion-justify-content-center">
      <ion-col>
        <div class="ion-text-center">
          <h5>REKISTERÖINTI</h5>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col>
        <div hidden class="ion-text-center">
          <p>
            Rekisteröi oma tili syöttämällä <br>
            tiedot alla oleviin kenttiin. <br>
            <br>
            Matkapuhelinnumero toimii <br>
            palvelussa käyttäjätunnuksena.
          </p>
        </div>
      </ion-col>
    </ion-row>
    <form [formGroup]="personalDataForm" (ngSubmit)="sendPersonalData()">

      <ion-row class="ion-justify-content-center" *ngIf="user.phone_number.length > 0">
        <ion-col>
          <div class="ion-text-center">
            <label>PUHELINNUMERO</label>
            <ion-input class="classic_input" readonly placeholder="{{ user.phone_number }}" type="text">
            </ion-input>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col>
          <div class="ion-text-center">
            <ion-input class="classic_input" formControlName="first_name" placeholder="ETUNIMI" type="text">
            </ion-input>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col>
          <div class="ion-text-center">
            <ion-input class="classic_input" formControlName="last_name" placeholder="SUKUNIMI" type="text">
            </ion-input>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col>
          <div class="ion-text-center">
            <ion-input class="classic_input" formControlName="email" placeholder="SÄHKÖPOSTI" type="email">
            </ion-input>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col>
          <div class="ion-text-center">
            <ion-input class="classic_input" formControlName="address" placeholder="OSOITE" type="text">
            </ion-input>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col>
          <div class="ion-text-center">
            <ion-input class="classic_input" formControlName="postal_code" placeholder="POSTINUMERO" type="text">
            </ion-input>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col>
          <div class="ion-text-center">
            <ion-input class="classic_input" formControlName="city" placeholder="KAUPUNKI" type="text">
            </ion-input>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col>
          <div class="ion-text-center">
            <button type="submit" class="classic_button">Seuraava</button>
          </div>
        </ion-col>
      </ion-row>

    </form>


  </ion-grid>
  <app-explore-container></app-explore-container>
</ion-content>