ion-content {
    --background:#FFEBEE;
}
ion-toolbar {
    --background:#FFEBEE;
}
ion-menu-button {
    color:#8D0A5A;
}
p {
    color: #880E4F;
}
.kategoriat {
    width: 100%;
    max-width: 500px;
    // height: 140px;
    margin:0 auto;
    // overflow-x: scroll;
    // white-space:nowrap;
    overflow:auto;
}
.kategoriat div {
    width: 33%;
    float: left;
    text-align: center;
    margin-bottom: 5px;
}
.kategoriat img {
    // margin:0 18px;
    display:inline-block;
    border-radius:5px;
}
.center {
    text-align: center;
}
.top_img {
    width: 100%;
    height: 85px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.top_div {
    width: 99%;
    margin: 0 auto;
    background: #ffffff;
    padding:0px 0px 5px 0; 
    border-radius:5px;
}
.top_img.tila {
    background-size: cover;
    border-radius:5px;
}
.top_div p {
    font-size: 14px;
}

.tuoreimmat, .suosituimmat {
    width: 100%;
    max-width: 500px;
    height: 200px;
    margin:0 auto;
    // overflow-x: scroll;
    white-space:nowrap;
    overflow:auto;
}
.suosituimmat {
    display:none
}
.tuotekortti {
    width: 200px;
    height: 180px;
    background-color: white;
    border-radius: 5px;
    display:inline-block;
    margin:0 5px;
}
.tuote {
    color:#74164F;
    font-size:16px;
    font-weight: bold;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.kategoria {
    color:#74164F;
    font-size:12px;
    margin: 10px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tuottaja {
    font-size:12px;
    color:#81C784;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tiedot {
    // position: relative;
    // top: 5px;
    // left: 5px;
    float: left;
    width: 55%;
    overflow: hidden;
    padding: 5px;
}
.hinta {
    float: right;
    width: 45%;
    overflow: hidden;
    padding: 15px 5px 5px 0px;
    // position: relative;
    // top: 5px;
    // left: 90px;
    // width:85px;
    text-align: right;
}
.maara {
    color:#74164F;
    font-size: 36px;
    font-weight: bold;
    width: 100%;
    margin: 0;
}
.yksikko {
    color:#74164F;
    font-size:12px;
    width: 100%;
    margin: 0;
}

.sivuotsikko.active {
    color:#74164F;
}
.sivuotsikko.inactive {
    color:#F8BBD0;
}