<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Page Title</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-grid>

    <ion-row>
      <ion-col>
        <h2 class="sivuotsikko">KATEGORIAT</h2>
        <div class="kategoriat" *ngIf="categList && categList.length > 0">
          <div *ngFor="let c of categList;let o=index">
            <img [src]="c.profilePictureUrl" alt="{{ c.name }}"
              [routerLink]="['/categorys-products', c.id]">
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h2 class="sivuotsikko tuore active" (click)="fresh()">UUSIMMAT</h2>
      </ion-col>
      <ion-col (click)="mostpopular()">
        <h2 class="sivuotsikko suosittu inactive" >SUOSITUIMMAT</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="tuoreimmat">
          <div class="tuotekortti" *ngFor="let r of recents;let o=index" [routerLink]="['/product', r.id]">
            <div *ngIf="r.product.profile_image" [style]="'height: 50%;width: 100%;border-radius: 5px;background-image: url('  + r.product.profilePictureUrl + ');background-position: center center;background-repeat: no-repeat;background-size: cover;'"></div>
            <div *ngIf="!r.product.profile_image" style="height: 50%;width: 100%;border-radius: 5px;background-image: url(../assets/icon/placeholder.jpg);background-position: center center;background-repeat: no-repeat;background-size: cover;">
            </div>
            <div class="tiedot">
              <p class="tuote">{{ r.product.name }}</p>
              <p class="kategoria">{{ r.product.category.name }}, {{ r.product.subcategory.name }}</p>
              <p class="tuottaja">{{ r.product.producer[0].name }}</p>
            </div>
            <div class="hinta">
              <p class="maara">{{ r.price }}</p>
              <p class="yksikko">€/{{ r.product.unit }}</p>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="suosituimmat">
          <div class="tuotekortti" *ngFor="let p of popular;let o=index" [routerLink]="['/product', p.batch[0].id]">
            <div *ngIf="p.profile_image" [style]="'height: 50%;width: 100%;border-radius: 5px;background-image: url('  + p.profilePictureUrl + ');background-position: center center;background-repeat: no-repeat;background-size: cover;'"></div>
            <div *ngIf="!p.profile_image" style="height: 50%;width: 100%;border-radius: 5px;background-image: url(../assets/icon/placeholder.jpg);background-position: center center;background-repeat: no-repeat;background-size: cover;"></div>

            <div class="tiedot">
              <p class="tuote">{{ p.name }}</p>
              <p class="kategoria">{{ p.category.name }}, {{ p.subcategory.name }}</p>
              <p class="tuottaja">{{ p.producer[0].name }}</p>
            </div>
            <div class="hinta">
              <p class="maara">{{ p.batch[0].price }}</p>
              <p class="yksikko">€/{{ p.unit }}</p>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col size="12">
        <h2 class="sivuotsikko">TUTUSTU TUOTTAJAAN</h2>
      </ion-col>
      <ion-col size="4" class="center">
        <div hidden class="top_div" *ngIf="isLogged == true" [routerLink]="['/re-order-products']">
          <div class="top_img" style="background-image:url(../assets/icon/prev_order.png);">
          </div>
          <p>Tilaa <br> uudelleen</p>
        </div>
      </ion-col>
      <ion-col size="4" class="center" *ngIf="data && data.random_producer"
        [routerLink]="['/producer', data.random_producer.id]">
        <div class="top_div">
          <div class="top_img tila" *ngIf="data.random_producer.profile_image"
            [style]="'background-image:url(' + data.random_producer.profilePictureUrl + ');'"></div>
          <div class="top_img tila" *ngIf="!data.random_producer.profile_image"
            style="background-image:url(../assets/icon/placeholder2.jpg);"></div>
          <p>{{ data.random_producer.name }}</p>
        </div>
      </ion-col>
      <ion-col size="4" class="center">
        <div class="top_div" hidden>
          <div class="top_img" style="background-image:url(../assets/icon/sesonki.png);">
          </div>
          <p>Sesongin <br> tuotteet</p>
        </div>
      </ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>
