<ion-content [fullscreen]="true">
  <h2 class="sivuotsikko">VIESTIT</h2>

  <div *ngIf="threads.length > 0">
    <ion-list inset="true" lines="none">
      <ion-item *ngFor="let z of threads;let o=index" lines="none" [routerLink]="['/thread', z.id]" class="unread_{{ z.isUnread }}">
        <div class="listan_tuottaja">
          <div class="tuottajatiedot">
            <h3 class="tuottajannimi" >
              {{ z.sender }}
            </h3>
            <h2 class="tuotemaara">
              {{ z.date }} klo {{ z.time }}
            </h2>
            <p class="tuottajapaikka">
              {{ z.subject }}
            </p>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="threads.length == 0">
    <div style="color:rebeccapurple;width:350px;margin:50px auto;text-align: center;">
      <p>Sinulla ei näyttäisi olevan viestejä.</p>
    </div>
  </div>

  <app-explore-container name="Cart page"></app-explore-container>
</ion-content>