<!-- <ion-header>
  <ion-toolbar> -->
    <!-- <ion-title>Page Title</ion-title> -->
    <!-- <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons> -->
  <!-- </ion-toolbar>
</ion-header> -->

<ion-content *ngIf="tiedot">
  <ion-card>
    <img *ngIf="tiedot.product.profile_image" [src]="tiedot.product.profilePictureUrl" />
    <img *ngIf="!tiedot.product.profile_image" src="../assets/icon/placeholder_lg.jpg" >

    <ion-card-header>
      <ion-card-title>{{ tiedot.product.name }}</ion-card-title>
      <ion-item lines="none" class="moro">{{ tiedot.price }}</ion-item>
      <ion-item lines="none" class="moro mui">€ / {{ tiedot.product.unit }}</ion-item>
      <ion-card-subtitle [routerLink]="['/producer', tiedot.product.producer[0].id]" class="tuottajaan">{{ tiedot.product.producer[0].name }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content *ngIf="tiedot.product.description">
      {{ tiedot.product.description }}
    </ion-card-content>
    <ion-card-content *ngIf="!tiedot.product.description">
      Tuotekuvaus puuttuu.
    </ion-card-content>

    <ion-card-content >
      <strong>Ainesosaluettelo</strong><br>
      {{ tiedot.product.ingredients }}
    </ion-card-content>

    <form [formGroup]="form">
      <ion-card-content *ngIf="isLogged == true">
        <div class="kaikki">
          <div class="osa">
            <strong>Valitse määrä</strong>
          </div>
          <div class="osa">
            <!-- <ion-button icon-only shape="round" size="small" class="minus" (click)="removeOne()"> -->
              <ion-icon name="remove" class="minus" (click)="removeOne()"></ion-icon>
            <!-- </ion-button> -->
          </div>
          <div class="osa">
              <ion-input class="maara_input" type="number" formControlName="maara" min="1" value="{{ maara }}" readonly></ion-input>
          </div>
          <div class="osa">
            <!-- <ion-button icon-only shape="round" size="small" class="plus" (click)="addOne()"> -->
              <ion-icon (click)="addOne()" class="plus" name="add"></ion-icon>
            <!-- </ion-button> -->
          </div>
          <div class="osa">
              {{ tiedot.product.unit }}
          </div>
        </div>
        <ion-item hidden>
          <ion-label>
            <strong>Valitse määrä</strong>
            <ion-icon name="remove" class="minus" (click)="removeOne()"></ion-icon>
          </ion-label>
          <ion-input class="maara_input" type="number" formControlName="maara" min="1" value="{{ maara }}" readonly></ion-input>
          <ion-label>
            <ion-icon (click)="addOne()" class="plus" name="add"></ion-icon> {{ tiedot.product.unit }}
          </ion-label>
        </ion-item>
          <ion-label>
            <div *ngIf="tiedot.delivery_days == 1">Tuotteen toimitusaika n. {{ tiedot.delivery_days }} päivä.</div>
            <div *ngIf="tiedot.delivery_days > 1">Tuotteen toimitusaika n. {{ tiedot.delivery_days }} päivää.</div>
            <div *ngIf="tiedot.delivery_days == 0">Tuotteen toimitusaika n. {{ tiedot.delivery_days }} päivää.</div>
          </ion-label>
      </ion-card-content>
      <ion-card-content *ngIf="isLogged == true">
        <div>
          <ion-button  (click)="addToCart()" [disabled]="!form.valid" class="koriin" expand="full" size="large">Lisää ostoskoriin</ion-button>
        </div>
        <div>
          <ion-button *ngIf="isFaved == false" (click)="addToFavs()" class="suosikkeihin" expand="full" size="large">
            <ion-icon name="heart"></ion-icon>
            Lisää suosikkeihin
          </ion-button>
          <ion-button *ngIf="isFaved == true" (click)="rmFromFavs()" class="suosikkeihin" expand="full" size="large">
            <ion-icon name="remove-circle"></ion-icon>
            Poista suosikeista
          </ion-button>
        </div>
      </ion-card-content>
    </form>
  </ion-card>
  <ion-card *ngIf="otherProducts != null" class="otherproducts">
    <ion-card-content class="tuottajatuotteet" *ngIf="otherProducts.length > 0">
      <h2 class="sivuotsikko">TUOTTAJAN MUUT TUOTTEET</h2>
      <div>
        <ion-list inset="true" lines="none">
          <ion-item *ngFor="let x of info.otherProducts;let o=index" class="active"
            [routerLink]="['/product', x.batch[0].id]">
            <div class="listan_tuote">
  
              <div class="tuotekuva" *ngIf="x.profile_image"
                [style]="'background-image: url(' + x.profilePictureUrl + ');'"></div>
              <div class="tuotekuva" *ngIf="!x.profile_image"
                style="background-image: url(../assets/icon/placeholder.jpg);"></div>
  
              <div class="tuotetiedot">
                <h2 class="tuotenimi">{{ x.name }}</h2>
                <p class="tuotetagit">{{ x.category.name }}, {{ x.subcategory.name }} </p>
              </div>
              <div class="tuotehinta">
                <p>{{ x.batch[0].price }}€ / {{ x.unit }}</p>
              </div>
  
            </div>
          </ion-item>
        </ion-list>
      </div>
    </ion-card-content>
  </ion-card>
<app-explore-container name="Products page"></app-explore-container>
</ion-content>
