<ion-content [fullscreen]="true">
  <h2 class="sivuotsikko">TUOTTEET</h2>
  <div class="kategoriat" *ngIf="categList && categList.length > 0">
    <div *ngFor="let c of categList;let o=index">
      <img [src]="c.profilePictureUrl" alt="{{ c.name }}"
        [routerLink]="['/categorys-products', c.id]">
    </div>
  </div>


  <div class="boxxit" style="padding:0.4em 0;">
    <!-- <ion-item class="checkboxit"> -->
      <ion-label class="cblabeli">*Gluteeniton </ion-label>
      <ion-checkbox class="cebe" (ionChange)="onSearchChange()" [(ngModel)]="gluten"></ion-checkbox>
      <ion-label class="cblabeli" style="margin-left: 1em;">*Laktoositon </ion-label>
      <ion-checkbox class="cebe" (ionChange)="onSearchChange()" [(ngModel)]="laktoositon"></ion-checkbox>
    <!-- </ion-item> -->
  </div>

  <div class="srcbardiv">
    <ion-searchbar class="srcbar" (ionChange)="onSearchChange()" [(ngModel)]="hakusana" placeholder="Hae">
    </ion-searchbar>
  </div>


  <div *ngIf="productList && productList.length > 0">
    <ion-list inset="true" lines="none">
      <ion-item *ngFor="let z of productList;let o=index" [routerLink]="['/product', z.id]">
        <!-- <a [routerLink]="['/product', z.id]" routerDirection="forward" style="text-decoration: none;"> -->
          <div class="listan_tuote">
          
            <div class="tuotekuva" *ngIf="z.product.profile_image" [style]="'background-image: url(' + z.product.profilePictureUrl + ');'"></div>
            <div class="tuotekuva" *ngIf="!z.product.profile_image" style="background-image: url(../assets/icon/placeholder.jpg);"></div>
          
            <div class="tuotetiedot">
              <h3 class="tuottajanimi">{{ z.product.producer[0].name }}</h3>
              <h2 class="tuotenimi">{{ z.product.name }}</h2>
              <p class="tuotetagit">{{ z.product.category.name }}, {{ z.product.subcategory.name }}</p>
            </div>
          
            <div class="tuotehinta">
              <p>
                <span class="bold" *ngIf="z.product.is_gluteine_free == 'kylla'">*G</span>
                <span class="bold" *ngIf="z.product.is_lactose_free == 'kylla'">*L</span>
              </p>
              <p>{{ z.price }}€ / {{ z.product.unit }}</p>
            </div>
          
          </div>
        <!-- </a> -->
      </ion-item>
    </ion-list>
  </div>

</ion-content>
