ion-content {
    --background:#FFEBEE;
}
ion-searchbar {
    --ion-background-color:#FFFFFF;
    --ion-background:#FFFFFF;
    --background-color:#FFFFFF;
    background-color:#FFFFFF;
    --background:#FFFFFF;
    background:#FFFFFF;
    --color:black;
}
ion-list {
    --ion-background-color:#FFEBEE;
    --ion-background:#FFEBEE;
    --background-color:#FFEBEE;
    background-color:#FFEBEE;
    --background:#FFEBEE;
    background:#FFEBEE;
}
ion-item {
    --background:#FFFFFF;
    margin-bottom: 10px;
    --padding-start:0px !important;
    padding-left: 0!important;
    height: 70px;
    // max-width: 350px;
}
ion-avatar {
    --border-radius:0;
}

.list-md.list-inset ion-item:first-child {
    --border-width:0px!important;
}

.listan_tuote, .listan_tuottaja {
    height: 70px;
    width: 100%;
}
.listan_tuottaja {
    background-image: url(../../../assets/icon/Icon_Nuoli.png);
    background-position: center right;
    background-repeat: no-repeat;
}
.tuotekuva, .tuottajakuva {
    height: 100%;
    width: 70px;
    float: left;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.tuotetiedot, .tuottajatiedot {
    height: 100%;
    width: auto;
    float: left;
    margin-left: 10px;
    position: absolute;
    left: 65px;
    overflow: hidden;
}
.tuottajanimi {
    color:#81C784;
    --color:#81C784;
    font-size:12px;
    line-height: 20px;
    margin:0;
}
.tuotenimi, .tuottajannimi {
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    margin:0;
}
.tuotetagit, .tuotemaara, .tuottajapaikka {
    font-size: 12px;
    line-height: 20px;
    margin:0;
}
.tuotenimi, .tuotetagit, .tuotehinta, .tuottajannimi, .tuotemaara, .tuottajapaikka {
    color:#74164F;
    --color:#74164F;
}
.tuotehinta p {
    font-size: 12px;
    // line-height: 20px;
}
.tuotehinta {
    // height: 90%;
    width: auto;
    // float: right;
    position: absolute;
    right: 10px;
    bottom:0;
    // line-height: 70px;
    text-align: right;
}

.kategoriat {
    width: 100%;
    max-width: 500px;
    // height: 140px;
    margin:0 auto;
    // overflow-x: scroll;
    // white-space:nowrap;
    overflow:auto;
}
.kategoriat div {
    width: 33%;
    float: left;
    text-align: center;
    margin-bottom: 5px;
}
.kategoriat img {
    // margin:0 18px;
    display:inline-block;
    border-radius:5px;
}

.clicked {
    border: 2px solid #74164F;
    border-radius: 20px;
    height: 114px;
}

.boxxit {
    text-align: center;
}
.cblabeli {
    --color:#74164F;
    color:#74164F;
}
.cebe {
    --checkmark-color:#FFEBEE;
    --background-checked:#74164F;
    --border-color-checked:
}
.bold {
    font-weight: bold;
}
.bold:last-child {
    margin-left:0.3em;
}

.srcbardiv {
    margin:0 16px;
}
.srcbar {
    padding:0;
    // -webkit-margin-start: 16px;
    // margin-inline-start: 16px;
    // -webkit-margin-end: 16px;
    // margin-inline-end: 16px;
}