ion-menu ion-content, ion-menu ion-header ion-toolbar,
ion-list, ion-list ion-item {
    --background:#8D0A5A;
}
ion-menu  .list-md {
    background:#8D0A5A;
    // --background:#FFEBEE;
}
ion-menu ion-item {
    --border-color: #74164F;
    color:#FFEBEE;
    --color:#FFEBEE;
}
ion-menu ion-title {
    color:#FFEBEE;
    --color:#FFEBEE;
}