<ion-app>
  <ion-menu contentId="content1" side="end" hidden>
    <ion-header>
      <ion-toolbar>
        <ion-title>
          <ion-thumbnail>
            <img src="../assets/icon/favicon.png">
          </ion-thumbnail>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <!-- unlogged -->

      <ion-list *ngIf="isLogged == false">
        <ion-item [routerLink]="['/intro']" routerDirection="forward">
          Esittely
        </ion-item>
        <ion-item [routerLink]="['/welcome']" routerDirection="forward">
          Kirjaudu sisään
        </ion-item>
      </ion-list>
      <!-- logged -->
      <ion-list *ngIf="isLogged == true">
        <ion-item [routerLink]="['/tabs/orders']" routerDirection="forward">
          Tilaukset
        </ion-item>
        <ion-item [routerLink]="['/tabs/threads']" routerDirection="forward">
          Viestit
        </ion-item>
        <ion-item [routerLink]="['/welcome']" routerDirection="forward">
          Muokkaa tietoja
        </ion-item>
        <ion-item (click)="logout()">
          Kirjaudu ulos
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content1" main></ion-router-outlet>
  <!-- <ion-router-outlet></ion-router-outlet>
  <div hidden>
    <div style="position: absolute;top:10px;left:10px;z-index: 24000;font-size: 40px;font-weight: 900;color:cyan;">
      <a [routerLink]="['/elements']" routerDirection="forward" style="text-decoration: none;">E</a>
    </div>
    <div style="position: absolute;top:30px;left:10px;z-index: 24000;font-size: 40px;font-weight: 900;">
      <a [routerLink]="['/welcome']" routerDirection="forward" style="text-decoration: none;">W</a>
    </div>
  </div> -->
</ion-app>
