<ion-content [fullscreen]="true">
  <h2 class="sivuotsikko">SUOSIKIT</h2>

    <div *ngIf="favorites && favorites.length > 0">
      <ion-list inset="true" lines="none">
        <ion-item *ngFor="let z of favorites;let o=index" class="onsale_{{ z.availability }}">
          <div class="listan_tuote">
            <div class="tuotekuva" *ngIf="z.profile_image" [routerLink]="['/product', z.batch[0].id]"
              [style]="'background-image: url(' + z.profilePictureUrl + ');'"></div>
            <div class="tuotekuva" *ngIf="!z.profile_image" [routerLink]="['/product', z.batch[0].id]"
              style="background-image: url(../assets/icon/placeholder.jpg);"></div>
    
            <div class="tuotetiedot" [routerLink]="['/product', z.batch[0].id]">
              <h3 class="tuottajanimi">{{ z.producer[0].name }}</h3>
              <h2 class="tuotenimi">{{ z.name }}</h2>
              <p class="tuotetagit">{{ z.category.name }}, {{ z.subcategory.name }}</p>
            </div>

            <div class="tuotehinta" *ngIf="z.batch.length > 0" [routerLink]="['/product', z.batch[0].id]">
              <p>
                {{ z.batch[0].price }}€/{{ z.unit }}
              </p>
            </div>

            <div class="poistasuosikki" style="cursor: pointer;" (click)="rmFromFavs(z.batch[0].id)">
              <ion-icon name="trash"></ion-icon>
            </div>

          </div>
        </ion-item>
      </ion-list>
    </div>

    <hr>

    <div *ngIf="favoritescomingtosale && favoritescomingtosale.length > 0">
      <ion-list inset="true" lines="none">
        <ion-item *ngFor="let x of favoritescomingtosale;let p=index" class="onsale_{{ x.availability }}">
          <div class="listan_tuote">
    
            <div class="tuotekuva" *ngIf="x.profile_image"
              [style]="'background-image: url(' + x.profilePictureUrl + ');'"></div>
            <div class="tuotekuva" *ngIf="!x.profile_image" style="background-image: url(../assets/icon/placeholder.jpg);">
            </div>
    
            <div class="tuotetiedot">
              <h3 class="tuottajanimi">{{ x.producer[0].name }}</h3>
              <h2 class="tuotenimi">{{ x.name }}</h2>
              <p class="tuotetagit">{{ x.category.name }}, {{ x.subcategory.name }}</p>
            </div>
    
            <div class="tuotehinta" *ngIf="x.batch.length > 0">
              <p>Saatavilla vk{{ x.startDate }}</p>
            </div>
            <div class="poistasuosikki" style="cursor: pointer;" (click)="rmFromFavs(x.batch[0].id)">
              <ion-icon name="trash"></ion-icon>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>

    <div class="more" *ngIf="relatedFavorites && relatedFavorites.length > 0">
      <p>
        Katso saatavilla olevat tuotteet kategoriasta
      </p>
      <div >
        <span *ngFor="let c of relatedFavorites;let ii=index" style="cursor: pointer;" class="{{ c.cname }}"
          [routerLink]="['/categorys-products', c.cid, c.scname]">
          {{ c.scname }}
        </span>
      </div>
    </div>

    <div *ngIf="favorites.length == 0 && favoritescomingtosale.length == 0 && relatedFavorites.length == 0">
      <p class="tuotenimi" style="text-align: center;font-weight: 100;">Sinulla ei ole vielä suosikkeja.</p>
    </div>
  
</ion-content>
