<ion-content [fullscreen]="true">
  <h2 class="sivuotsikko">TILAUKSET</h2>

  <div *ngIf="orders.length > 0">
    <ion-list inset="true" lines="none">
      <ion-item *ngFor="let z of orders;let o=index" [routerLink]="['/order', z.id]">
        <div class="listan_tuottaja">
  
          <div class="tuottajatiedot">
            <h3 class="tuottajannimi" *ngIf="z.total_quantity == 1">
              {{ z.total_quantity }} Tuote
            </h3>
            <h3 class="tuottajannimi" *ngIf="z.total_quantity > 1">
              {{ z.total_quantity }} Tuotetta
            </h3>
            <h2 class="tuotemaara">
              Toimitusaika <ion-datetime displayFormat="DD.MM.YY" value="{{ z.delivery_date }}" readonly></ion-datetime>
            </h2>
            <p class="tuottajapaikka">
              Tilauksen yhteishinta: {{ z.total_price }}€
            </p>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="orders.length == 0">
    <div style="color:rebeccapurple;width:350px;margin:50px auto;text-align: center;">
      <p>Sinulla ei ole aiempia tilauksia.</p>
    </div>
  </div>

  <app-explore-container name="Cart page"></app-explore-container>
</ion-content>