<ion-content [fullscreen]="true">
  <h2 class="sivuotsikko">TILAA UUDELLEEN</h2>

  <div *ngIf="orderData">
    <ion-list inset="true" lines="none">
      <ion-item *ngFor="let z of orderData.items;let o=index">
        <div class="listan_tuote">
  
          <!-- <div class="tuotekuva" *ngIf="z.profile_image"
            style="background-image: url(http://127.0.0.1:8000{{z.profile_image}});"></div> -->
          <div class="tuotekuva" style="background-image: url(../assets/icon/placeholder.jpg);">
          </div>
  
          <div class="tuotetiedot">
            <h3 class="tuottajanimi">{{ z.producer.name }}</h3>
            <h2 class="tuotenimi">{{ z.name }}</h2>
            <!-- <p class="tuotetagit">{{ z.category.name }}, {{ z.subcategory.name }}</p> -->
          </div>
  
          <!-- <div class="tuotehinta" *ngIf="z.batch.length > 0">
            <p>
              {{ z.batch[0].price }}€/{{ z.unit }}
            </p>
          </div>
          <div class="tuotehinta" *ngIf="z.batch.length == 0">
            <p>Aktiivisia <br>myyntieriä: {{ z.batch.length }}</p>
          </div> -->
        </div>
      </ion-item>
    </ion-list>
  </div>

  <app-explore-container name="Re-Order page"></app-explore-container>
</ion-content>
