ion-content {
    --background:#FFEBEE;
}
p {
    color:#74164F;
}ion-content {
    --background:#FFEBEE;
}
ion-content {
    --background:#FFEBEE;
}
ion-list {
    --ion-background-color:#FFEBEE;
    --ion-background:#FFEBEE;
    --background-color:#FFEBEE;
    background-color:#FFEBEE;
    --background:#FFEBEE;
    background:#FFEBEE;
}
ion-item {
    --background:#FFFFFF;
    margin-bottom: 10px;
    --padding-start:0px !important;
    padding-left: 0!important;
    height: 70px;
    // max-width: 350px;
}
ion-avatar {
    --border-radius:0;
}

.list-md.list-inset ion-item:first-child {
    --border-width:0px!important;
}

.listan_tuote, .listan_tuottaja {
    height: 70px;
    width: 100%;
}
.listan_tuottaja {
    background-image: url(../../../assets/icon/Icon_Nuoli.png);
    background-position: center right;
    background-repeat: no-repeat;
}
.tuotekuva, .tuottajakuva {
    height: 100%;
    width: 70px;
    float: left;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.tuotetiedot, .tuottajatiedot {
    height: 100%;
    width: auto;
    float: left;
    margin-left: 10px;
    position: absolute;
    left: 65px;
    overflow: hidden;
}
.tuottajanimi {
    color:#81C784;
    --color:#81C784;
    font-size:12px;
    line-height: 20px;
    margin:0;
}
.tuotenimi, .tuottajannimi {
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    margin:0;
}
.tuotetagit, .tuotemaara, .tuottajapaikka {
    font-size: 12px;
    line-height: 20px;
    margin:0;
}
.tuotenimi, .tuotetagit, .tuotehinta, .tuottajannimi, .tuotemaara, .tuottajapaikka {
    color:#74164F;
    --color:#74164F;
}
.tuotehinta p {
    font-size: 12px;
    // line-height: 20px;
}
.tuotehinta {
    // height: 90%;
    width: auto;
    // float: right;
    position: absolute;
    right: 10px;
    bottom:0;
    // line-height: 70px;
    text-align: right;
}

.kategoriat {
    width: 99%;
    max-width: 500px;
    height: 140px;
    margin:0 auto;
    // overflow-x: scroll;
    white-space:nowrap;
    overflow:auto;
}
.kategoriat img {
    margin:0 18px;
    display:inline-block;
}

.poistasuosikki {
    position: absolute;
    top: 5px;
    right: 5px;
    width:20px;
    height:20px;
    color:#74164F;
}

.onsale_no {
    opacity: 0.5;
}
.onsale_no:first-of-type {
    margin-top: 35px;
}

.more {
    padding:0 15px 15px 15px;
}
.more p {
    color:#74164f;
    margin-top: 0;
}
span {
    padding:5px 8px;
    border-radius: 12px;
    margin:4px;
    text-align: center;
    display: inline-block;
}
span.Juomat {
    color:#00796B;
    background:#B2DFDB;
}
span.Leivät {
    color:#EF6C00;
    background:#FFF3E0;
}
span.kala {
    color:#E53935;
    background:#FFFFFF;
}
span.Maitotuotteet {
    color:#0288D1;
    background:#E3F2FD;
}
span.Marjat {
    color:#FF6F00;
    background:#FFF8E1;
}
span.Vihannekset {
    color:#2E7D32;
    background:#DCEDC8;
}
