<!-- <ion-header>
  <ion-toolbar> -->
<!-- <ion-title>Page Title</ion-title> -->
    <!-- <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons> -->
  <!-- </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
    <h2 class="sivuotsikko">OSTOSKORI</h2>
    <div *ngIf="cartdata && cartdata.cartQuantity > 0">
      <ion-list inset="true" lines="none">

        <!-- <ion-item class="mappi">
          <app-map *ngIf="markers && markers.length > 0" [markers]="markers" style="height:100%;width:100%;"></app-map>
        </ion-item> -->

        <ion-item *ngFor="let z of cartitems;let o=index">
          <div class="listan_tuote">

            <div class="removeitem">
              <span class="pin itempin">{{ z.count }}</span>
              <ion-icon name="close" class="minus del" (click)="remove(z)"></ion-icon>
            </div>
    
            <div class="tuotekuva" *ngIf="z.attributes.prod_img" [style]="'background-image: url(' + z.attributes.product_img + ');'"></div>
            <div class="tuotekuva" *ngIf="!z.attributes.prod_img" style="background-image: url(../assets/icon/placeholder.jpg);"></div>
    
            <div class="tuotetiedot">
              <h3 class="tuottajanimi">{{ z.attributes.producer }}</h3>
              <h2 class="tuotenimi">{{ z.name }}</h2>
              <p class="tuotetagit">
                <strong>{{ z.totalprice }}€</strong> ({{ z.formattedprice }}€ / {{ z.attributes.unit }})<br>
                Toimitusaika: n. {{ z.attributes.delivery_days }} pv
              </p>
            </div>
    
            <div class="tuotehinta">
              <ion-icon name="remove" class="minus" (click)="removeOne(z)"></ion-icon>
              <p class="amount"> {{ z.quantity }}</p>
              <ion-icon name="add" class="plus" (click)="addOne(z)"></ion-icon>
            </div>
    
          </div>
        </ion-item>

        <ion-item id="ts">
          <ion-list-header>
            <ion-label class="labeli">Tilauksen arvioitu toimituspäivä:<br> {{ cartdata.estimated_pickupday }}</ion-label>
          </ion-list-header>
        </ion-item>
        <ion-item>
          <p class="tuotetagit" style="padding-inline-start: calc(var(--ion-safe-area-left, 0) + 16px);">Tilaus on noudettavissa vasta kuin kaikki tilauksen tuotteet ovat saapuneet noutopisteelle ja tilaus on pakattu.
          Noudettavissa olevasta tilauksesta saat sovelluksen kautta ilmoituksen.</p>
        </ion-item>

        <form [formGroup]="form" *ngIf="deliveryPoints">
        
          <ion-item>
            <!-- <ion-label position="stacked"></ion-label> -->
            <ion-textarea formControlName="information" placeholder="Tilauksen lisätiedot"></ion-textarea>
          </ion-item>

          <ion-item id="ts">
            <ion-list-header>
              <ion-label class="labeli">Valitse noutopiste</ion-label>
            </ion-list-header>
          </ion-item>
          <ion-item class="dp"  *ngFor="let f of deliveryPoints;let oo=index">
            <input type="radio" formControlName="deliveryplace" id="deliveryplace" value="{{ f.id }}">
            <label class="labeli">{{ f.name }}</label>
          </ion-item>
        

          <ion-item id="ts">
            <ion-list-header>
              <ion-label class="labeli">Palvelun ehdot</ion-label>
            </ion-list-header>
          </ion-item>
          <ion-item class="dp">
            <input type="checkbox" formControlName="acceptance" name="acceptance" id="acceptance">
            <label class="labeli">Olen lukenut ja hyväksyn palvelun tilaus- ja sopimusehdot *</label>
          </ion-item>

          <ion-item class="dp" *ngIf="ernor">
            <div style="color:tomato;font-weight: bolder;">
              {{ ernormessage }} <br>
              {{ ernormessage2 }}
            </div>
          </ion-item>
        
        </form>

        <ion-item id="ts">
          <ion-list-header>
            <ion-label class="labeli">Loppusumma</ion-label>
          </ion-list-header>
        </ion-item>
        <ion-item id="total-section">
          <table>
            <tr>
              <td>Tuotteet yhteensä</td>
              <td>{{ cartdata.cartQuantity }} kpl</td>
            </tr>
            <tr>
              <td>Veroton kokonaissumma:</td>
              <td>{{ cartdata.totalNoTax }}€</td>
            </tr>
            <tr>
              <td>Veron osuus kokonaissummasta:</td>
              <td>{{ cartdata.totalsTax }}€</td>
            </tr>
            <tr>
              <td>Kokonaissumma:</td>
              <td>{{ cartdata.totalWithTax }}€</td>
            </tr>
          </table>
        </ion-item>
        
        <ion-item id="koriin">
          <div (click)="checkout()" style="margin:0 auto;color:white!important;">Vahvista ja maksa</div>
        </ion-item>
        
      </ion-list>
    </div>


    <div *ngIf="cartdata && cartdata.cartQuantity == 0">
      <div style="color:#74164F;width:350px;margin:50px auto;text-align: center;">
        <p>Ostoskorisi näyttäisi olevan tyhjä.
        <br>
        Voit etsiä tuotteita 'Tuotteet' -osiosta.</p>
      </div>
    </div>

</ion-content>
