ion-content {
    --background:#FFEBEE;
}
ion-list {
    --ion-background-color:#FFEBEE;
    --ion-background:#FFEBEE;
    --background-color:#FFEBEE;
    background-color:#FFEBEE;
    --background:#FFEBEE;
    background:#FFEBEE;
    --margin-top:0;
    --border-color:white;
    border-color:white;
}
ion-item {
    --border-color:white;
    border-color:white;
    --background:#FFFFFF;
    background:#FFFFFF;
    // margin-bottom: 1px;
    --padding-start:0px !important;
    padding-left: 0!important;
    height: auto;
    padding: 10px 0;
    // height: 70px;
    max-width: 350px;
    margin: 0 auto 1px auto;
}
.mappi {
    --inner-padding-bottom:0;
    --inner-padding-top:0;
    --inner-padding-end:0;
    --inner-padding-start:0;
    --padding-bottom:0;
    --padding-top:0;
    --padding-end:0;
    --padding-start:0;
    padding:0
}
.list-md.list-inset ion-item:first-child {
    --border-width: 0 0 0 0;
}
#total-section {
    height: auto!important;
    --padding-top: 15px;
    --padding-bottom: 15px;
    --padding-start: 5px!important;
    --padding-end: 5px;
}
ion-avatar {
    --border-radius:0;
}

.removeitem {
    position: absolute;
    left: 5px;
    top: 0;
    height:100%;
}
.removeitem button {
    border-radius:50%;
    width:10px;
    height:10px;
}
.del {
    border-radius:10px;
    position: absolute;
    bottom: 10px;
    left: 0;
}
.itempin {
    width: 20px;
    height: 30px;
    position: absolute;
    top:5px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    color:white!important;
}


.listan_tuote, .listan_tuottaja {
    height: 70px;
    width: 100%;
}
.listan_tuottaja {
    background-image: url(../../../assets/icon/Icon_Nuoli.png);
    background-position: center right;
    background-repeat: no-repeat;
}
.tuotekuva, .tuottajakuva {
    height: 100%;
    width: 70px;
    position: absolute;
    left: 30px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.tuotetiedot, .tuottajatiedot {
    height: 100%;
    width: auto;
    // float: left;
    // margin-left: 10px;
    position: absolute;
    left: 110px;
    overflow: hidden;
}
.tuottajanimi {
    color:#81C784;
    --color:#81C784;
    font-size:12px;
    line-height: 15px;
    // line-height: 20px;
    margin:0;
}
.tuotenimi, .tuottajannimi {
    font-size: 16px;
    font-weight: bold;
    line-height: 28px;
    // line-height: 30px;
    margin:0;
}
.tuotetagit, .tuotemaara, .tuottajapaikka {
    font-size: 12px;
    line-height: 12px;
    // line-height: 20px;
    margin:0;
}
.tuotenimi, .tuotetagit, .tuotehinta, .tuottajannimi, .tuotemaara, .tuottajapaikka {
    color:#74164F;
    --color:#74164F;
}

.tuotehinta {
    // height: 90%;
    width: auto;
    // float: right;
    position: absolute;
    right: 10px;
    top:10px;
    // top:50%;
    // bottom:0;
    // line-height: 70px;
    text-align: center;
}
.tuotehinta p {
    font-size: 12px;
    // line-height: 20px;
    margin: 0;
}
.tuotehinta .minus {
    position: relative;
    top:0;
}
.tuotehinta .plus {
    position: relative;
    bottom:0;
}

.kategoriat {
    width: 99%;
    max-width: 500px;
    height: 140px;
    margin:0 auto;
    // overflow-x: scroll;
    white-space:nowrap;
    overflow:auto;
}
.kategoriat img {
    margin:0 18px;
    display:inline-block;
}

table {
    max-width: 350px;
    margin: 0 auto;
}
td {
    color:#74164F;
    padding:8px;
    // border-bottom: 1px solid #74164F;
    border-bottom: 1px solid #FFEBEE;
    margin-bottom:5px;
}
tr:first-child td {
    font-size: small;
}
tr:nth-child(2) td {
    font-size: small;
}
tr:nth-child(3) td {
    font-size: small;
}
tr:nth-child(4) td {
    font-size: larger;
    font-weight: bolder;
    border-bottom: 1px solid #74164F;
}
#koriin {
    --background:#74164F;
    text-transform: none;
    font-size:16px;
    font-weight: bold;
    text-align: center;
    cursor:pointer;
    padding:0;
}
ion-textarea {
    --color:#74164F;
    color:#74164F;
    --padding-start:10px;
    padding:10px;
}

.labeli {
    --color:#74164F;
    color:#74164F;
}
ion-radio {
    --color-checked:#74164F;
    --color:#74164F;
    color:#74164F;
}
.aids {
    --color:#74164F;
    color:#74164F;
}
#ts {
    background:white;
    margin-bottom:0;
    --margin-bottom:0;
    --padding-bottom:0;
    padding-bottom:0;
}
.dp {
    height: auto;
    --inner-padding-start: 16px;
    --padding-top:0;
    padding-top:0;
}
.dp input {
    margin-right:14px;
}

