<!-- <ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <app-explore-container></app-explore-container>
  <ion-grid style="height:100%;" class="ion-justify-content-center ion-align-items-center ion-justify-content-between	">

    <ion-row class="ion-justify-content-center">
      <ion-col>
        <div class="ion-text-center">
          <h5>REKISTERÖINTI</h5>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col>
        <div class="ion-text-center">
          <p>
            Rekisteröi oma tili syöttämällä <br>
            tiedot alla oleviin kenttiin. <br>
            <br>
            Matkapuhelinnumero toimii <br>
            palvelussa käyttäjätunnuksena.
          </p>
        </div>
      </ion-col>
    </ion-row>

    <form [formGroup]="form" (ngSubmit)="sendPhoneNumber()">
      <ion-row class="ion-justify-content-center">
        <ion-col>
          <div class="ion-text-center">
            <ion-input class="classic_input" formControlName="phone_number" placeholder="PUHELINNUMERO" type="tel"></ion-input>

          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col>
          <div class="ion-text-center">
            <ion-input class="classic_input" formControlName="password" placeholder="SALASANA" type="password"></ion-input>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col>
          <div class="ion-text-center">
            <button type="submit" class="classic_button">Seuraava</button>
          </div>
        </ion-col>
      </ion-row>

    </form>


  </ion-grid>
</ion-content>