<ion-content [fullscreen]="true">
  <h2 class="sivuotsikko">MUOKKAA TIETOJA</h2>
  <ion-grid *ngIf="details">
    <form [formGroup]="form" (ngSubmit)="submit()">
    
      <ion-row class="ion-justify-content-center">
        <ion-col>
          <div class="ion-text-center">
            <ion-input class="classic_input" placeholder="PUHELINNUMERO" type="text" value="{{ details.phone_number }}" disabled></ion-input>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col>
          <div class="ion-text-center">
            <ion-input class="classic_input" formControlName="email" placeholder="SÄHKÖPOSTI" type="text" [value]="details.email"></ion-input>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col>
          <div class="ion-text-center">
            <ion-input class="classic_input" formControlName="first_name" placeholder="ETUNIMI" type="text" value="{{ details.first_name }}"></ion-input>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col>
          <div class="ion-text-center">
            <ion-input class="classic_input" formControlName="last_name" placeholder="SUKUNIMI" type="text" value="{{ details.last_name }}"></ion-input>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col>
          <div class="ion-text-center">
            <ion-input class="classic_input" formControlName="address" placeholder="OSOITE" type="text" value="{{ details.address }}"></ion-input>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col>
          <div class="ion-text-center">
            <ion-input class="classic_input" formControlName="postal_code" placeholder="POSTINUMERO" type="text" value="{{ details.postal_code }}"></ion-input>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col>
          <div class="ion-text-center">
            <ion-input class="classic_input" formControlName="city" placeholder="KAUPUNKI" type="text" value="{{ details.city }}"></ion-input>
          </div>
        </ion-col>
      </ion-row>
    
      <ion-row class="ion-justify-content-center" style="margin-top:5px;">
        <ion-col>
          <div class="ion-text-center">
            <button class="classic_button save">TALLENNA</button>
          </div>
        </ion-col>
      </ion-row>
    
    </form>
  </ion-grid>
<app-explore-container name="User details page"></app-explore-container>
</ion-content>