<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Salasanan palautus</ion-title>
  </ion-toolbar>
</ion-header> -->


<ion-content>
  <ion-grid style="height:100%;" class="ion-justify-content-center ion-align-items-center ion-justify-content-between	">
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <div class="ion-text-center">
          <h5>SALASANA HUKASSA?</h5>
        </div>
      </ion-col>
    </ion-row>
    
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <div class="ion-text-center">
          <p>Anna matkapuhelinnumero,<br>
            lähetämme siihen vahvistuskoodin<br>
            jonka avulla pääset<br>
            vaihtamaan salasanan.</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <div *ngIf="!alreadyHaveACode && !phoneNumberEntered()" class="ion-text-center">
          <form [formGroup]="resetPasswordForm" (ngSubmit)="sendForm()">
            <!-- <ion-item> -->
              <!-- <ion-label position="stacked">Puhelinnumero</ion-label> -->
              <ion-input #c0 type="tel" placeholder="PUHELINNUMERO" formControlName="phone_number" class="classic_input"></ion-input>
            <!-- </ion-item> -->
            <button color="secondary" expand="full" class="classic_button" type="submit" [disabled]="!resetPasswordForm.valid">Lähetä
            </button>
          </form>
          <p class="ion-text-center"><a (click)="iHaveAlreadyTheCode()" class="bold">Minulla on jo koodi</a></p>
        </div>
        <div *ngIf="alreadyHaveACode || phoneNumberEntered()" class="ion-text-center">
          <div *ngIf="!alreadyHaveACode">
            <p>Puhelimeesi saapuu muutaman minuutin kuluessa 6-numeroinen koodi, joka syötetään alla olevaan tekstikenttään.
            </p>
            <p>
              <button color="secondary" expand="full" class="classic_button" (click)="clearPhoneNumber()">Vaihda puhelinnumero</button>
            </p>
          </div>
          <form [formGroup]="enterCodeForm" (ngSubmit)="sendCodeForm()">
            <div *ngIf="alreadyHaveACode">
              <!-- <ion-label position="stacked">Puhelinnumero</ion-label> -->
              <ion-input #c1 type="tel" placeholder="Puhelinnumero" formControlName="phone_number" class="classic_input"></ion-input>
            </div>
            <!-- <ion-item> -->
              <!-- <ion-label position="stacked">6-numeroinen koodi</ion-label> -->
              <ion-input autocomplete="one-time-code" type="text" placeholder="Koodi" formControlName="code" class="classic_input"></ion-input>
            <!-- </ion-item> -->
            <div [formGroup]="enterCodeForm.controls.passwords">
              <!-- <ion-item> -->
                <!-- <ion-label position="stacked">Salasana</ion-label> -->
                <ion-input type="password" placeholder="Salasana" formControlName="password" class="classic_input"></ion-input>
              <!-- </ion-item>
              <ion-item> -->
                <!-- <ion-label position="stacked">Salasana uudelleen</ion-label> -->
                <ion-input type="password" placeholder="Salasana uudelleen" formControlName="passwordConfirm" class="classic_input"></ion-input>
              <!-- </ion-item> -->
            </div>
            <button class="classic_button" color="secondary" expand="full" type="submit" [disabled]="!enterCodeForm.valid">Vaihda salasana
            </button>
          </form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-explore-container></app-explore-container>
</ion-content>