<!-- <ion-header>
  <ion-toolbar>
    <ion-title>welcome</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-grid style="height:100%;" class="ion-justify-content-center ion-align-items-center ion-justify-content-between	">

    <ion-row class="ion-justify-content-center">
      <ion-col>
        <div class="ion-text-center">
          <img src="../assets/icon/MAALTA.png" alt="MAALTA">
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col>
        <div class="ion-text-center">
          <a [routerLink]="['/register']" routerDirection="forward" style="text-decoration: none;">
            <button class="classic_button">REKISTERÖIDY</button>
          </a>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col>
        <div class="ion-text-center">
          <a [routerLink]="['/login']" routerDirection="forward" style="text-decoration: none;">
            <button class="classic_red_button">KIRJAUDU SISÄÄN</button>
          </a>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col>
        <div class="ion-text-center">
          <a class="browse" href="">Selaa palvelua</a>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>