ion-slides {
    height: 100%;
    background-color:#880E4F;
}
ion-slides {
    --bullet-background: #C2185B;
    --bullet-background-active: #FCE4EC;
}
.txtfield {
    position: absolute;
    top: 100px;
}