<!-- <ion-header>
  <ion-toolbar>
    <ion-title>intro</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-slides pager="true" >

    <ion-slide>
      <div class="txtfield">
        <h5>
          Kädessäsi on uusi tapa tilata<br>
          puhdasta lähiruokaa palveluun<br>
          tarkoin valituilta toimittajilta.
        </h5>
        <h5>
          Katso miten sovellus toimii.
        </h5>
        <img src="../assets/icon/intro/Intro1.png" alt="">
      </div>
    </ion-slide>

    <ion-slide>
      <div class="txtfield">
        <h5>
          Voit tilata tuotteita monelta eri<br>
          tuottajalta, jotka kootaan sinulle<br>
          yhdeksi tilaukseksi.
        </h5>
        <h5>
          Maksaminen hoituu helposti<br>
          maksukortilla.
        </h5>
        <img src="../assets/icon/intro/Intro2.png" alt="">
      </div>
    </ion-slide>

    <ion-slide>
      <div class="txtfield">
        <h5>
          Tilatut tuotteet toimitetaan<br>
          valittuun noutopaikkaan.
        </h5>
        <h5>
          Tilauksen etenemistä voit<br>
          seurata sovelluksesta.
        </h5>
        <img src="../assets/icon/intro/Intro3.png" alt="">
      </div>
    </ion-slide>

    <ion-slide>
      <div class="txtfield">
        <h5>
          Näet sovelluksesta kaikki tekemäsi<br>
          tilaukset ja voit antaa palautetta<br>
          tuottajien tuotteista.
        </h5>
        <h5>
          Voit myös ehdottaa tuottajia<br>
          palveluun.
        </h5>
        <img src="../assets/icon/intro/Intro4.png" alt="">
        <div>
          <a [routerLink]="['/welcome']" routerDirection="forward" style="text-decoration: none;">
            <button class="classic_button">SEURAAVA</button>
          </a>
        </div>
      </div>
    </ion-slide>

  </ion-slides>
</ion-content>
