ion-content {
    --background:#8D0A5A;
}
input.classic_input {
    background:#880E4F;
    border-color:#F8BBD0;
    color:#F8BBD0;
    &::placeholder {
        color:#F8BBD0;
    }
}
h5 {
    font-family:'Labours Regular';
    color:#C2185B;
    font-size:22px;
    line-height: 43px;
}
p {
    font-size: 24px;
    line-height: 24px;;
    color:#FCE4EC;
}

ion-input {
    --background:#880E4F;
    --border-color:#F8BBD0;
    --color:#F8BBD0;
    &::placeholder {
        --color:#F8BBD0;
    }
}

.form-button {
    // width:232px;
    height:60px;
    --background:#F8BBD0;
    border-radius:30px;
    color:#880E4F;
    font-family:'Labours Regular';
    font-size:22px;
    border:1px solid #880E4F;
}
.button-native {
    border-radius:30px;
}

.marginit {
    margin-bottom:10px;
}

.classic_input {
  // width:232px;
  height:60px;
  background:#880E4F;
  border-radius:30px;
  border: 1px solid #F8BBD0;
  color:#F8BBD0;
  font-family:'Labours Regular';
  font-size:22px;
  text-align: center;
  
    &::placeholder {
      color:#F06292;
    }
}