<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->
<app-explore-container></app-explore-container>
<ion-content>
  <ion-grid style="height:100%;" class="ion-justify-content-center ion-align-items-center ion-justify-content-between	">

    <ion-row class="ion-justify-content-center">
      <ion-col>
        <div class="ion-text-center">
          <h5>KIRJAUDU</h5>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col>
        <div class="ion-text-center">
          <p>Kirjaudu palveluun antamalla<br>
          puhelinnumero ja salasana.</p>
        </div>
      </ion-col>
    </ion-row>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <!-- <ion-card>
        <ion-card-header> -->
          <!-- <ion-item> -->
            <!-- <ion-label position="floating">Sähköposti</ion-label> -->
            <ion-input class="classic_input marginit" formControlName="phone_number" type="tel" placeholder="PUHELINNUMERO"></ion-input>
          <!-- </ion-item>
          <ion-item> -->
            <!-- <ion-label position="floating">Salasana</ion-label> -->
            <ion-input class="classic_input marginit" type="password" formControlName="password" placeholder="SALASANA"></ion-input>
          <!-- </ion-item> -->
        <!-- </ion-card-header> -->
        <ion-button shape="round" expand="full" class="form-button marginit" type="submit" [disabled]="!form.valid">Kirjaudu</ion-button>
      <!-- </ion-card> -->
    </form>

    <ion-row class="ion-justify-content-center">
      <ion-col>
        <div class="ion-text-center">
          <a [routerLink]="['/forgotpassword']" class="browse" routerDirection="forward">
            Salasana hukassa?
          </a>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
