ion-content {
    --background:#FFEBEE;
}
ion-content {
    --background:#FFEBEE;
}
ion-list {
    --ion-background-color:#FFEBEE;
    --ion-background:#FFEBEE;
    --background-color:#FFEBEE;
    background-color:#FFEBEE;
    --background:#FFEBEE;
    background:#FFEBEE;
}
#firstitem {
    margin-top: 35px;
    border-radius: 5px;
}
ion-item {
    --background:#FFFFFF;
    // margin-bottom: 1px;
    --padding-start:0px !important;
    // padding-left: 0!important;
    // height: 70px;

    max-width: 350px;
    margin: 10px auto 5px auto;
}
p {
    color:#74164F;
    --color:#74164F;
}
.classic_button.send {
    width: 80px;
    height: 40px;
    font-size: 14px;
}
#send {
    background:inherit!important;
    --background:inherit!important;
}
#send_it {
    --background:#74164F;
    background:#74164F;
    color:#FFEBEE ;
    --color:#FFEBEE ;

}
ion-label, ion-textarea {
    color:#74164F!important;
    --color:#74164F!important;
}
ion-avatar {
    // --border-radius:0;
    --background:#FFEBEE;
    background:#FFEBEE;
}
.subject {
    font-weight: bold;
}
.message {
    // opacity: 0.9;
    width: auto;
    max-width: 500px;
    height: auto;
    padding: 10px;
    margin:0 auto;
}
.reciever .msg {
    background-color: #FFFFFF;
    color: #880E4F;
    padding: 10px;
    text-align: right;
    width: 90%;
    position: relative;
    right: 20px;
}
.reciever .msgicon {
    position: absolute;
    right: 0;
}
.sender .msg {
    background-color: #880E4F;
    color:#FFFFFF;
    padding: 10px;
    text-align: left;
    width: 90%;
    position: relative;
    left: 20px;
}
.sender .msgicon {
    position: absolute;
    left: 0;
}
.sender .msg p {
    color:#FFFFFF;
}
.user {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: right;
    padding:5px;
}
.producerimg ion-icon, .userimg ion-icon {
    --color:#74164F;
    color:#74164F;
}
.other {
    background:#74164F;
    position: absolute;
    width: 100%;
    height: 100%;
    padding:5px;
}
.other .subject, .other .message {
    --color:white;
    color:white;
}

ion-datetime {
    padding:0;
    margin:0;
}

.usermsg {
    background: #FFFFFF;
    color: #74164F;
    padding: 10px;
}
.producermsg {
    background: #74164F;
    color: #FFFFFF;
    padding: 10px;
}
#thread {
    width: 95%;
    margin: 0 auto;
}
#thread tr {
    margin:15px 0;
    border-bottom: 15px solid #FFEBEE;
    border-top: 15px solid #FFEBEE;
}
.producerimg, .userimg {
    padding:10px;
    text-align: center;
}

ion-textarea, ion-label {
    --padding-start:10px;
    padding-left:10px;
}

.producermsg, .usermsg { 
    // border-top-left-radius: 10px; 
    border-radius: 15%!important;
}
.senderimage {
    width: 30px;
    height: 30px;
    max-width: none;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
}
.senderimage.lg {
    width: 50px;
    height: 50px;
    margin:0 auto;
}
ion-icon {
    width: 30px;
    height: 30px;
}
// .producermsg, .usermsg { border-top-right-radius: 10px; }
// .producermsg, .usermsg { border-bottom-left-radius: 10px; }
// .producermsg, .usermsg { border-bottom-right-radius: 10px; }