<ion-content [fullscreen]="true">
  <div *ngIf="thread" style="text-align: center;">
    <!-- <img *ngIf="thread.senderimg" [src]="thread.senderimg" alt="thread.sender" class="senderimage lg"> -->
    <div *ngIf="thread.senderimg" [style]="'background-image:url(' + thread.senderimgurl + ');'" class="senderimage lg"></div>
    <p style="font-weight: bold;">{{ thread.sender }}</p>
  </div>
  <div style="text-align: center;">
    <p>{{ subject }}</p>
  </div>

  <div *ngIf="messages.length > 0">
    <table id="thread">

      <tr *ngFor="let z of messages;let o=index">
        <td *ngIf="details.id != z.user.id" class="producerimg">
          <ion-icon *ngIf="!z.senderimg" name="people"></ion-icon>
          <!-- <img *ngIf="z.senderimg" [src]="z.senderimg" alt="z.sender" class="senderimage"> -->
          <div *ngIf="z.senderimg" [style]="'background-image:url(' + z.senderimgurl + ');'" class="senderimage"></div>
        </td>
        <td *ngIf="details.id != z.user.id" class="producermsg" colspan="2">
          <p style="margin:0 0 5px 0;font-weight: bold;color:white;">
            {{ z.created }} {{ z.sender }}
          </p>
          <!-- <br><br> -->
          <p style="color:white;margin:0;line-height: 20px;">{{ z.body }}</p>
        </td>
        <!-- <td *ngIf="details.id != z.user.id">&nbsp;</td> -->

        <!--  -->

        <td *ngIf="details.id == z.user.id">&nbsp;</td>
        <td *ngIf="details.id == z.user.id" class="usermsg">
          <b>
            <ion-datetime displayFormat="DD.MM.YY HH:mm" value="{{ z.created_at }}" readonly></ion-datetime>
          </b>
          <br>
          {{ z.body }}
        </td>
        <td *ngIf="details.id == z.user.id" class="userimg">
          <ion-icon name="person"></ion-icon>
        </td>
      </tr>

    <!-- </table> -->
    <!-- <div> -->
      <tr>
        <td>&nbsp;</td>
        <td>
          <form [formGroup]="form" (ngSubmit)="submit()">
            <ion-item id="firstitem">
              <ion-label position="stacked">Kirjoita uusi viesti</ion-label>
              <ion-textarea formControlName="message" placeholder="..."></ion-textarea>
            </ion-item>
            <ion-item lines="none" id="send">
              <!-- <ion-button id="send_it" type="submit" slot="end" name="submit">Lähetä</ion-button> -->
              <button class="classic_button send" type="submit" slot="end">lähetä</button>
            </ion-item>
          </form>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
    <!-- </div> -->
  </div>

  <ion-grid *ngIf="messages.length == 0">
    <ion-row>
      <ion-col>
        <p style="color:rebeccapurple;width:350px;margin:50px auto;text-align: center;">Sinulla ei näyttäisi olevan viestejä.</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-explore-container name="Cart page"></app-explore-container>
</ion-content>