<ion-content [fullscreen]="true">
  <h2 class="sivuotsikko">Tilaus</h2>

  <ion-card>
    <ion-card-content *ngIf="order">
      <table id="top">
        <tr>
          <th>
            Tilausnumero:
          </th>
          <td>
            {{ order.id }}
          </td>
        </tr>
        <tr>
          <th>
            Tilausaika:
          </th>
          <td>
            <ion-datetime displayFormat="DD.MM.YYYY HH:mm" value="{{ order.created_at }}" readonly></ion-datetime>
          </td>
        </tr>
        <tr>
          <th>
            Toimitussijainti:
          </th>
          <td>
            {{ order.delivery_place.name }}
          </td>
        </tr>
        <tr>
          <th>
            Toimituspäivä:
          </th>
          <td>
            <ion-datetime displayFormat="DD.MM.YYYY" value="{{ order.delivery_date }}" readonly></ion-datetime>
          </td>
        </tr>
        <tr>
          <th>
            Tuotteiden lukumäärä:
          </th>
          <td>
            {{ order.total_quantity }}
          </td>
        </tr>
        <tr>
          <th>
            Tilauksen yhteishinta:
          </th>
          <td>
            {{ order.total_price }}€
          </td>
        </tr>
        <tr><td class="asd"> .</td></tr>
        <tr>
          <th>
            Lisätiedot:
          </th>
        </tr>
      </table>
      <div>
        <p>
          {{ order.description }}
        </p>
      </div>

      <hr>

      <table id="bot">
        <tr>
          <th class="left">Tuote</th>
          <th class="right">Yhteensä €</th>
        </tr>
        <tr *ngFor="let z of order.items;let o=index">
          <td class="left">
            <b>{{ z.producer.name }}</b> <br>
            {{ z.amount }} x {{ z.name }}
          </td>
          <td class="right">
            {{ z.totalprice }}
          </td>
        </tr>
        <tr>
          <th class="left">
            Yhteensä
          </th>
          <th class="right">
            {{ order.total_price }}€
          </th>
        </tr>
      </table>
    </ion-card-content>
  </ion-card>

  <app-explore-container name="Cart page"></app-explore-container>
</ion-content>