ion-content {
    --background:#FFEBEE;
}
ion-content {
    --background:#FFEBEE;
}
ion-card-content {
    --background:#ffffff;
    background:#ffffff;
}

#top th,#top td, p {
    text-align: left;
    color: #74164F;
}
#top td {
    padding-left: 30px;
}
.asd {
    color:white!important;
}
ion-datetime {
    padding:0;
}
hr {
    background: #FFEBEE;
    margin-top: 40px;
}
#bot {
    color:#74164F;
    width: 100%;
}
#bot tr {
    border-bottom:1px solid #FFEBEE;
}
#bot tr td, #bot tr th {
    padding-top: 15px;
    padding-bottom: 15px;
}
.right {
    text-align: right;
}
.left {
    text-align: left;
}
#bot tr:first-child th {
    padding-top: 10px;
    padding-bottom: 8px;
    font-size: smaller;
}
#bot tr:last-child {
    border-bottom: none;
}