<!-- <ion-header>
  <ion-toolbar>
    <ion-title>forgot password</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-grid style="height:100%;" class="ion-justify-content-center ion-align-items-center ion-justify-content-between	">

    <ion-row class="ion-justify-content-center">
      <ion-col>
        <div class="ion-text-center">
          <h5>SALASANA HUKASSA?</h5>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col>
        <div class="ion-text-center">
          <p>Anna matkapuhelinnumero,<br>
            lähetämme siihen vahvistuskoodin,<br>
            jolla pääset kirjautumaan sisään<br>
            ja vaihtamaan salasanan.</p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col>
        <div class="ion-text-center">
          <input type="text" class="classic_input" placeholder="PUHELINNUMERO">
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col>
        <div class="ion-text-center">
          <a [routerLink]="['/confirmnewpassword']" routerDirection="forward" style="text-decoration: none;">
            <button class="classic_button">Seuraava</button>
          </a>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
  <app-explore-container></app-explore-container>
</ion-content>